
<style type="text/css">
  .btn-enviar{
    font-size: 14px;
    padding: 8px 35px;
    margin-top: 0px;
  }
  .margin-0 input{
    margin-top: 0px;
  }
</style>
<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <h1>Contacto</h1>
        <hr>
        <h4>Ayúdanos a mejorar tu experiencia</h4>
        <p>
          Si tienes alguna duda acerca del sitio o si sólo deseas enviarnos tu opinión, siéntete libre de escribirnos a continuación:
        </p>
        <div class="col-md-6 no-padding">
         <%= form_for @message, url: contact_path do |message_form| %>
            <div class="field margin-0">
              <%= message_form.text_field :name, placeholder: "Escribe tu nombre" %>
            </div>
            
                  <br>
                  <div class="field margin-0">
              <%= message_form.email_field :email, placeholder: "Escribe tu correo electrónico"%>
            </div>
            
                  <br>
                  <div class="field margin-0">
              <%= message_form.text_area :content, placeholder: "Acerca de que nos escribes"%>
            </div>
                  <br>
                  <div class="field margin-0">
              <%= message_form.submit "Enviar", class: "btn-rojo btn-enviar" %>
            </div>
        <% end %>
        </div>
    </div>
    <div class="col-md-3 banners">
      <%= render 'banners/right_column.html.erb' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#contact-form').validate({
      rules: {
        'firstname': {
          required: true,
          minlength:10,
          maxlength:100
        },
        'subject': {
          required: true,
          minlength:10,
          maxlength:100
        },
        'message': {
          required: true,
          minlength:10,
          maxlength:100
        },
        'email': {
          required: true,
          minlength:10,
          maxlength:100
        }
      }
    });
  });
</script>