<p id="notice"><%= notice %></p>
<div class="row deal-detail">
  <h1 style="padding: 0px 15px;margin-top: 0px;">Comentarios</h1>
  <div class="container">
      <div class="col-lg-12 deal-det">
        <table class="table table-striped">
          <tr>
            <th colspan="4">Descripción</th>
          </tr>
          <% @comments.each do |comment| %>
          <tr>
            <td class="tabla-cat"><strong><%= comment.user %> : <%= comment.deal %></strong><br><%= comment.description %></td>
            <td class="tabla-edit"><span class="glyphicon glyphicon-eye-open"></span> <%= link_to 'Ver', comment %></td>
            <td class="tabla-edit"><span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editar', edit_comment_path(comment) %></td>
            <td class="tabla-edit"><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Estás seguro de eliminar este comentario?' } %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan="4">
              <%= link_to 'Agregar Tienda', new_comment_path, class:"btn-rojo" %>
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>
