<div class="row" id="deals">
	<h1 style="padding: 0px 15px;">Moderar Comentarios</h1>
	<div class="container">
		<ul class="menu-moderar">
			<a href="/moderatecomments"><li><span class="glyphicon glyphicon-list"></span> Todas (<%= @comments3 %>)</li></a>
			<a href="?status=0"><li><span class="glyphicon glyphicon-bell"></span> Por Aceptar (<%= @comments0 %>)</li></a>
			<a href="?status=1"><li><span class="glyphicon glyphicon-ok"></span> Aceptadas (<%= @comments1 %>)</li></a>
		</ul>
	</div>
	<!-- INICIA LISTADO DE PROMOCIONES -->
	<div class="row">
	  	<div class="container">
	      	<div class="col-lg-12 deal-det">
					<table class="table table-striped">
						<thead>
		      				<tr>
		      					<th><th colspan="4">Comentarios</th></th>
		      				</tr>
		      			</thead>
						<% @comments.each do |comment| %>
						<tr>
							<td class="tabla-cat"><%= comment.description.html_safe %></td>
							<td class="tabla-edit"><span class="glyphicon glyphicon-eye-open"></span> <a href="/descuentos/<%=comment.deal.id%>-<%= comment.deal.slug %>" target="_blank">Ver promoción</a></td>
							
							<td class="tabla-edit" id="accept" idcomment="<%= comment.id %>"><% if comment.status != 1 %><a href="#Publicar" class='comment-action'><span class="glyphicon glyphicon-ok"></span> Publicar</a><% end %></td>

			        		<td class="tabla-edit"><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Estás seguro de eliminar este comentario?' } %></td>
						</tr>
						<% end %>
					</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $('.comment-action').click(function(event) {
     id = $(this).parent('td').attr('id');
     idcomment = $(this).parent('td').attr('idcomment');
      $.ajax({
        url:  "/commentaction",
        dataType: "json",
        data: {
           id: id,
           idcomment:idcomment
        },
        success: function(data) { 
          window.location.reload();
        }
      });
    });
</script>