<%= form_for(store) do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :Descripción %>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :Slug %>
    <%= f.text_field :slug %>
  </div>
  <br>
  <div class="field">
    <%= f.label :Imagen %>
    <%= f.file_field :logo, label: "Sube tu imagen (opcional)" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Guardar Cambios', :class => 'btn-rojo' %>
  </div>
<% end %>
