<div class="row deal-detail">
  <h1 style="padding: 0px 15px;margin-top: 0px;">Tiendas</h1>
  <div class="container">
      <div class="col-lg-12 deal-det">
        <table class="table table-striped">
            <tr>
              <td>Id</td>
              <td>Nombre</td>
              <td>Descripción</td>
              <td>Offer</td>
              <td></td>
            </tr>
            <% @stores.each do |store| %>
            <tr>
              <td class="tabla-cat"><strong><%= store.id %> <%= store.name %></strong><br><span class="descripcion-tabla"><%= store.description %></span></td>
              <td class="tabla-cat"><strong><%= store.offer.to_s.html_safe %> </td>
              <td class="tabla-edit"><span class="glyphicon glyphicon-eye-open"></span> <%= link_to 'Ver', store %></td>
              <td class="tabla-edit"><span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editar', edit_store_path(store) %></td>
              <td class="tabla-edit"><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Eliminar', store, method: :delete, data: { confirm: 'Estás seguro de eliminar esta tienda?' } %></td>
            </tr>
            <% end %>
            <tr>
              <td colspan="4">
                <%= link_to 'Agregar Tienda', new_store_path, class:"btn-rojo" %>
              </td>
            </tr>
        </table>
      </div>
  </div>
</div>
