<div class="col-lg-6 col-lg-offset-3">
	<div class="list-group">
	  <% @stores.each do |store| %>
		  <a href="/descuentos-por-tienda/<%= store.id %>/<%= store.slug %>" class="list-group-item">
		    <h4 class="list-group-item-heading"><%= store.name %>
			    <span class="badge"><%= store.deals.count %></span></h4>
		    <p class="list-group-item-text"><%= store.description %></p>
		  </a>
	    <% end %>
	</div>
</div>
