<p id="notice"><%= notice %></p>
<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Tienda: <%= @store.name %></h1>
			<strong>Description:</strong>
  			<%= @store.description %>
			<hr>
			<%= link_to 'Regresar', stores_path %> &nbsp; | &nbsp; 
			<%= link_to 'Editar', edit_store_path(@store) %>	
		</div>
		<div class="col-md-2"></div>
</div>
