<div class="relacionadas">
	<div class="header-box">
  		<div class="title-big">Promociones Relacionadas</div>
	</div>
	<!--1RA PROMOCIÓN RELACIONADA-->
    <div class="promos-relacionadas">
	    <div class="col-xs-5">
	     	<div class="image-box">
	      		<div class="thumbs">
	          		<span class="<%= rank_style(@deal.rank) %> grades">
	             	<!--%= fa_icon "thermometer-empty" %-->
	             	<span class="rank-meter"><%= @deal.rank %></span>
	             	<span class="grados-sign">&#186;</span>
	         		</span>
	          		<span class="thumbs-quality">
	      		</div>
		       	<a href="/descuentos/<%= @deal.id %>-<%= @deal.slug %>">
		         	<% if @deal.imagen.present? %>
		           		<%= image_tag @deal.imagen, class: 'img-responsive', style: "height:auto;max-height:85px;" %>
		         	<% else %>
		            <% if @deal.promoimage.exists? %>
		            	<%= image_tag @deal.promoimage.url(:small), class: 'img-responsive' %>
		            <% end %>
		         	<% end %>
		       	</a>
	       	</div>
	    </div>
	    <div class="col-xs-7">               		
	     	<h2 class="name"><a href="/descuentos/<%= @deal.id %>-<%= @deal.slug %>"><%= @deal.title %></a></h2>
		    <p class="price"><%= number_to_currency(@deal.price) %></p>
	    </div>
    </div>
    <!--2DA PROMOCIÓN RELACIONADA-->
    <div class="promos-relacionadas">
	    <div class="col-xs-5">
	     	<div class="image-box">
	      		<div class="thumbs">
	          		<span class="<%= rank_style(@deal.rank) %> grades">
	             	<!--%= fa_icon "thermometer-empty" %-->
	             	<span class="rank-meter"><%= @deal.rank %></span>
	             	<span class="grados-sign">&#186;</span>
	         		</span>
	          		<span class="thumbs-quality">
	      		</div>
		       	<a href="/descuentos/<%= @deal.id %>-<%= @deal.slug %>">
		         	<% if @deal.imagen.present? %>
		           		<%= image_tag @deal.imagen, class: 'img-responsive', style: "height:auto;max-height:85px;" %>
		         	<% else %>
		            <% if @deal.promoimage.exists? %>
		            	<%= image_tag @deal.promoimage.url(:small), class: 'img-responsive' %>
		            <% end %>
		         	<% end %>
		       	</a>
	       	</div>
	    </div>
	    <div class="col-xs-7">               		
	     	<h2 class="name"><a href="/descuentos/<%= @deal.id %>-<%= @deal.slug %>"><%= @deal.title %></a></h2>
		    <p class="price"><%= number_to_currency(@deal.price) %></p>
	    </div>
    </div>
    <!--3RA PROMOCIÓN RELACIONADA-->
    <div class="promos-relacionadas">
	    <div class="col-xs-5">
	     	<div class="image-box">
	      		<div class="thumbs">
	          		<span class="<%= rank_style(@deal.rank) %> grades">
	             	<!--%= fa_icon "thermometer-empty" %-->
	             	<span class="rank-meter"><%= @deal.rank %></span>
	             	<span class="grados-sign">&#186;</span>
	         		</span>
	          		<span class="thumbs-quality">
	      		</div>
		       	<a href="/descuentos/<%= @deal.id %>-<%= @deal.slug %>">
		         	<% if @deal.imagen.present? %>
		           		<%= image_tag @deal.imagen, class: 'img-responsive', style: "height:auto;max-height:85px;" %>
		         	<% else %>
		            <% if @deal.promoimage.exists? %>
		            	<%= image_tag @deal.promoimage.url(:small), class: 'img-responsive' %>
		            <% end %>
		         	<% end %>
		       	</a>
	       	</div>
	    </div>
	    <div class="col-xs-7">               		
	     	<h2 class="name"><a href="/descuentos/<%= @deal.id %>-<%= @deal.slug %>"><%= @deal.title %></a></h2>
		    <p class="price"><%= number_to_currency(@deal.price) %></p>
	    </div>
    </div>
</div>

<hr>
    

    <% @banners.each do |banner| %>
        <a target="_blank" href="<%= banner.link %>" id="<%=banner.id%>" class="banner-action">
        <%= image_tag banner.image.url(:original), class: 'img-responsive', alt: banner.alt %>
        </a>
    <% end %>
    <script type="text/javascript">
    	jQuery(document).ready(function($) {	
		    $('.banner-action').click(function(event) {
		     id = $(this).attr('id');
		      $.ajax({
		        url:  "/bannersclick",
		        dataType: "json",
		        data: {
		           id: id
		        },
		        success: function(data) { 
		          window.location.reload();
		        }
		      });
		    });
    	});	
    </script>