<p id="notice"><%= notice %></p>
<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Banner: <%= @banner.alt %></h1>
			<p>
			  <strong>Alt:</strong>
			  <%= @banner.alt %>
			</p>
			<p>
			  <strong>Link:</strong>
			  <%= @banner.link %>
			</p>
			<p>
			  <strong>Impressions:</strong>
			  <%= @banner.impressions %>
			</p>
			<p>
			  <strong>Hits:</strong>
			  <%= @banner.hits %>
			</p>
			<hr>
			<%= link_to 'Regresar', banners_path %> &nbsp; | &nbsp; 
			<%= link_to 'Editar', edit_banner_path(@banner) %>	
		</div>
		<div class="col-md-2"></div>
</div>
