
		<div class="col-md-12 profile-header">
			<div class="col-md-5">
				<div class="col-md-6">
					<%= image_tag current_user.avatar.url(:desktop), class: 'img-responsive' %>
				</div>
				<div class="col-md-6">
					<div class="usuario"><%= current_user.nickname %></div>
					<div class="correo"><%= current_user.email %></div>
					<div class="miembro">Miembro desde: <%= current_user.created_at.strftime("%m/%d/%Y") %></div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="col-md-6">
					<div class="col-xs-6 det-resumen">
						<div class="resumen">
							<div class="n-resumen">
								<%= current_user.rank.present? ? current_user.rank : "--" %>
							</div>
							<div class="txt-resumen">
								Mis Puntos
							</div>
						</div>
					</div>
					<div class="col-xs-6 det-resumen">
						<div class="resumen">
							<div class="n-resumen">
								<%= current_user.deals.present? ? current_user.deals.count : "--" %>
							</div>
							<div class="txt-resumen">
								Promociones<br>Publicadas
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-xs-6 det-resumen">
						<div class="resumen">
							<div class="n-resumen">
								<%= @promoHot.present? ? @promoHot : "--" %>
							</div>
							<div class="txt-resumen">
								Promociones<br>HOT
							</div>
						</div>
					</div>
					<div class="col-xs-6 det-resumen">
						<div class="resumen">
							<div class="n-resumen">
								<%= @promoHot.present? ? @promoHot : "--" %>
							</div>
							<div class="txt-resumen">
								Seguidores
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>