<ul class="list-group">
  <li class="list-group-item"><a href="/mi-cuenta/<%=current_user.id %>">Mi cuenta</a></li>
  <li class="list-group-item"><a href="/mi-cuenta/mis-votadas/<%= @current_user.id %>">Calificadas</a></li>
  <li class="list-group-item"><a href="/mi-cuenta/mis-descuentos/<%= @current_user.id %>">Mis Promociones</a></li>
  <li class="list-group-item"><a href="/mi-cuenta/mis-favoritas/<%= @current_user.id %>">Favoritas</a></li>
  <li class="list-group-item"><a href="#">Promociones creadas</a></li>
  <li class="list-group-item"><a href="#">Ranking</a></li>
  <li class="list-group-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %><!--a href="#">Cerrar Sesion</a--></li>
</ul>