<!--MENU PROFILE PARA DESKTOP-->
<div class="col-xs-12 no-padding visible-lg visible-md">
	<ul class="list-group">
	  <li class="list-group-item">
	  	<a href="/mi-cuenta/<%= current_user.id %>">
	  		<i class="fa fa-user-circle-o" aria-hidden="true"></i> Mis Datos <span class="flecha-down glyphicon glyphicon-chevron-right"></span>
	  	</a>
	  </li>
	  <li class="list-group-item">
	  	<a href="/mi-cuenta/mis-descuentos/<%= current_user.id %>">
	  		<i class="fa fa-check" aria-hidden="true"></i> Promociones Publicadas <span class="flecha-down glyphicon glyphicon-chevron-right"></span>
	  	</a>
	  </li>
	  <li class="list-group-item">
	  	<a href="/mi-cuenta/mis-votadas/<%= current_user.id %>">
	  		<i class="fa fa-thermometer-full" aria-hidden="true"></i> Promociones HOT <span class="flecha-down glyphicon glyphicon-chevron-right"></span>
	  	</a>
	  </li>
	  <li class="list-group-item">
	  	<a href="/mi-cuenta/mis-favoritas/<%= current_user.id %>">
	  		<i class="fa fa-star" aria-hidden="true"></i> Favoritas <span class="flecha-down glyphicon glyphicon-chevron-right"></span>
	  	</a>
	  </li>
	  <li class="list-group-item">
	  	<a href="/ranking">
	  		<i class="fa fa-line-chart" aria-hidden="true"></i> Ranking <span class="flecha-down glyphicon glyphicon-chevron-right"></span>
	  	</a>
	  </li>
	  <li class="list-group-item">
	  	<%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %>
	  </li>
	  <!--<li class="list-group-item"><a href="/mi-cuenta/mi-ranking/<%= current_user.id %>">Ranking</a></li>-->
	</ul>
</div>

<!--MENU PROFILE PARA MOBILE-->
<div class="col-md-12 visible-sm visible-xs no-padding">
	<div class="scrollmenu-2">
		<a href="/mi-cuenta/<%= current_user.id %>">
			<i class="fa fa-user-circle-o" aria-hidden="true"></i> Mis Datos
		</a>
		<a href="/mi-cuenta/mis-descuentos/<%= current_user.id %>">
			<i class="fa fa-check" aria-hidden="true"></i> Promociones Publicadas
		</a>
		<a href="/mi-cuenta/mis-votadas/<%= current_user.id %>">
			<i class="fa fa-thermometer-full" aria-hidden="true"></i> Promociones HOT
		</a>
		<a href="/mi-cuenta/mis-favoritas/<%= current_user.id %>">
			<i class="fa fa-star" aria-hidden="true"></i> Favoritas
		</a>
		<a href="/ranking">
	  		<i class="fa fa-line-chart" aria-hidden="true"></i> Ranking
	  	</a>
		<%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %>
	</div>
</div>