<script type="text/javascript">
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>
<div class="col-md-12 no-padding-m">
	<h1>Usuarios</h1>
	<p>Usuarios registrados - <%= @userstotal %></p>
	<p>Usuarios registrados en la última semana - <%= @userslastweek %></p>
	<p>Usuarios registrados en el mes - <%= @userslastmonth %></p>
	
	
	<table class="table table-condensed">
		<tr>
			<th>Usuario</th>
			<th>Promociones</th>
			<th>Bloqueado</th>
		</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.nickname %></td>
			<td><%= user.deals.count %></td>
			<td><%= user.banned %></td>
		</tr>
		<% end %>
	</table>
</div>
<%= paginate @users %>