<% set_meta_tags canonical: "http://www.descuentosypromociones.com/ranking" %>
<style type="text/css">
.contenedor-pub .rank-user{
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0px;
	float: left;
	width: 100%;
} 
.rank-number{
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
	color: #d93438;
}
</style>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>
<div class="col-md-12 no-padding-m">
	<div class="deal-deta">
		<%= render 'users/header' %>
		<div class="col-md-3 no-padding">
		<%= render 'users/menuprofile' %>
		</div>
		<div class="col-md-9 contenedor-pub">
			<h1>Ranking General</h1>
			<p>Los usuarios con más <a tabindex="0" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="¿Qué son los puntos?" data-content="Los puntos se obtienen por medio de cada promoción que publicas, es la diferencia de los likes contra las personas a quienes no les gustó tu promoción, mientras más promociones publiques y mientras más likes tengas mayor será el número de puntos que generarás."><strong>puntos</strong></a> esta son:</p>
			<% @users.each do |user| %>
			<div class="col-md-12 rank-user">
				<div class="col-xs-6">
					<span class="rank-number"><%= user.rank %></span> <a href="/perfil-publico/<%= user.id%>" style="color:#49494a;"><strong><%= user.nickname %></strong></a>
				</div>
				<div class="col-xs-6 right">
					<%= relationship(current_user.id, user.id)  %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.follow').click(function(event) {
			followed = $(this).attr("user_followed");
			follower = <%= current_user.id %>
			 $.ajax({
		        url:  "/follow",
		        dataType: "json",
		        data: {
		           followed: followed,
		           follower: follower
		        },
		        success: function(data) { 
		        	console.log(data);		          
		        }
		      });
		});
		$('.unfollow').click(function(event) {
			follow = $(this).attr('idf');
			 $.ajax({
		        url:  "/unfollow",
		        dataType: "json",
		        data: {
		           follow: follow
		        },
		        success: function(data) { 
		        	console.log(data);		          
		        }
		      });
		});
	});
</script>