	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="titulo-modal">Crear mi cuenta</h4>
      </div>
      <div class="img-login">
        <img class="img-responsive" src="/images/logo-login.jpg" />
      </div>
      <div class="modal-body2 crear-cuenta">
  		<%= devise_error_messages! %>
        <div class="field">
   		  <%= f.label :correo_electrónico %><br />
		    <%= f.email_field :email, autofocus: true %>
		    </div>

      <div class="field">
        <%= f.label :nombre_de_usuario %>
        <%= f.text_field :nickname, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :contraseña %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>


		  <div class="field">
		    <%= f.label :confirma_tu_contraseña %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  		  </div>
      </div>
      <div class="modal-footer">
    	<%= f.submit "Crear mi cuenta", class:"btn-login" %>
      </div>
	<% end %>
