<h1><%= title 'My page title' %></h1>
<div id="deals">
<div class="row">
  <!-- HOT Deals -->
  <div class="container container-m">
    <div class="col-md-12 no-padding head-des">
      <h1>Nuevas Promociones</h1>
      <p class="hidden-xs">
        Descubre diariamente nuevas promociones como La Promoción del Día, Promociones y Ofertas Relámpago, Promociones Destacadas y Liquidaciones en tiendas Online y Físicas.
      </p>
    </div>
    <!--INICIA HOT DEAL-->
    <div class="col-sm-8 no-padding-m">
      <div class="hot-deal">
        <div class="header-box">
          <div class="row no-margin">
            <div class="col-xs-6 no-padding">
              <div class="title-big">Promoción TOP</div>
            </div>
            <div class="col-xs-6 no-padding">
              <div class="thumbs">
                  <span class="<%= rank_style(@hot_deal.rank) %> grades">
                    <%= fa_icon "thermometer-empty" %>
                    <span class="rank-meter"><%= @hot_deal.rank %></span>
                    <span class="grados-sign">&#186;</span>
                  </span>
                  <span class="thumbs-quality">
                    <% if user_signed_in? %> 
                      <% if @hot_deal.behaviors.exists? user_id: current_user.id  %>
                       <% @hot_deal.behaviors.each do |item| %>
                          <% if item.grade == 1 %>
                            <span class="up" vote="positive"><span><%= fa_icon "thumbs-up" %></span></span>
                          <% else %>
                            <span class="down" vote="negative"><span><%= fa_icon "thumbs-down" %></span></span>
                          <% end %>
                        <% end %>
                      <% else %>
                            <span vote="negative" class="rank down" promoid="<%= @hot_deal.id %>"><%= fa_icon "thumbs-down" %></span>
                            <span href="#" vote="positive" class="rank up" promoid="<%= @hot_deal.id %>"><%= fa_icon "thumbs-up" %></span>
                      <% end %>
                    <% else %>
                            <a href="#login" class="down" data-toggle="modal"><%= fa_icon "thumbs-down" %></a>
                            <a href="#login" class="up" data-toggle="modal"><%= fa_icon "thumbs-up" %></a>
                    <% end %>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-box">
            <div class="col-sm-5 white hot-deal-img">
              <a href="descuentos/<%= @hot_deal.id %>-<%= @hot_deal.slug %>">
                <% if @hot_deal.imagen.present? %>
                  <%= image_tag @hot_deal.imagen, class: 'img-responsive' %>
                <% else %>
                <%= image_tag @hot_deal.promoimage.url(:big), class: 'img-responsive' %>
                <% end %>
              </a>
            </div>
            <div class="col-sm-7 white cont-hot-deal">
              <div class="row no-margin">
                <div class="col-xs-6 no-padding"><p class="category"><a href="descuentos-por-categoria/<%= @hot_deal.category.id %>/<%= @hot_deal.category.slug %>"><%= @hot_deal.category.description %></a></p></div>
                <div class="col-xs-6 right"><p class="comments"><a href="descuentos/<%= @hot_deal.id %>-<%= @hot_deal.slug %>#comments"><%= @hot_deal.comments.count %> <%= fa_icon 'comment' %></a></p></div>
              </div>        
              <h2 class="name"><a href="descuentos/<%= @hot_deal.id %>-<%= @hot_deal.slug %>"><%= @hot_deal.title %></a></h2>
              <p class="price"><%= number_to_currency(@hot_deal.price) %></p>
              <p class="store"><a href="descuentos-por-tienda/<%= @hot_deal.store.id %>/<%= @hot_deal.store.slug %>"><%= @hot_deal.store.description %></a>
                <span class="fis-web">
                  <% if @hot_deal.type_deal == 1 %> 
                    Online 
                  <% else %> 
                    Tienda Física 
                  <%end%>
                </span>
              </p>
              <!--%= link_to "Leer más", deal_path(@hot_deal), class: 'btn btn-rojo visible-xs' %-->
              <% if @hot_deal.link.present? %>
                <a href="<%= @hot_deal.link %>" class="btn btn-rojo" target="_blank">Ir a la promoción <span class="glyphicon glyphicon-share-alt"></span></a>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <!--TERMINA HOT DEAL-->

    <!-- INICIA MÁS VOTADAS -->
    <div class="col-sm-4 no-padding-m">
        <div class="mas-votadas">
          <div class="header-box">
            <div class="title-big">Más votadas</div>
          </div>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
            <div class="carousel-inner white" role="listbox">
                <% count = 0 %>
                <% @top_voted.each do |deal| %>
                <% if count == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                  <div class="row">
                    <div class="col-xs-8">
                    <div class="thumbs">
                        <span class="<%= rank_style(deal.rank) %> grades">
                          <%= fa_icon "thermometer-empty" %>
                          <span class="rank-meter"><%= deal.rank %></span>
                          <span class="grados-sign">&#186;</span>
                        </span>
                        <span class="thumbs-quality">
                          <% if user_signed_in? %> 
                            <% if deal.behaviors.exists? user_id: current_user.id  %>
                             <% deal.behaviors.each do |item| %>
                                <% if item.grade == 1 %>
                                  <span class="up" vote="positive"><span><%= fa_icon "thumbs-up" %></span></span>
                                <% else %>
                                  <span class="down" vote="negative"><span><%= fa_icon "thumbs-down" %></span></span>
                                <% end %>
                              <% end %>
                            <% else %>
                                  <span vote="negative" class="rank down" promoid="<%= deal.id %>"><%= fa_icon "thumbs-down" %></span>
                                  <span href="#" vote="positive" class="rank up" promoid="<%= deal.id %>"><%= fa_icon "thumbs-up" %></span>
                            <% end %>
                          <% else %>
                                  <a href="#login" class="down" data-toggle="modal"><%= fa_icon "thumbs-down" %></a>
                                  <a href="#login" class="up" data-toggle="modal"><%= fa_icon "thumbs-up" %></a>
                          <% end %>
                        </span>
                    </div>
                    </div>
                    <div class="col-xs-4 right">
                      <p class="comments"><a href="descuentos/<%= deal.id %>-<%= deal.slug %>#comments"><%= deal.comments.count %> <%= fa_icon 'comment' %></a></p>
                    </div>
                  </div>
                  <div class="promo-votada">
                    <div class="image-box">
                      <a href="descuentos/<%= deal.id %>-<%= deal.slug %>">
                        <% if deal.imagen.present? %>
                          <%= image_tag deal.imagen, class: 'img-responsive', style: "max-height:150px;" %>
                        <% else %>
                           <%= image_tag deal.promoimage.url(:small), class: 'img-responsive' %>
                        <% end %>
                      </a>
                    </div>
                    <p class="store"><a href="descuentos-por-tienda/<%= deal.store.id %>/<%= deal.store.slug %>"><%= deal.store.description %></a>
                      <span class="fis-web">
                        <% if deal.type_deal == 1 %> 
                          Online 
                        <% else %> 
                          Tienda Física 
                        <%end%>
                      </span>
                    </p>
                    <h2 class="name"><a href="descuentos/<%= deal.id %>-<%= deal.slug %>"><%= deal.title %></a></h2>
                    <p class="price"><%= number_to_currency(deal.price) %></p>
                    <!--p class="promocion"><%= link_to "Ver mas", descuento_path(deal), class: 'btn btn-primary' %></p-->
                    <!--% if deal.link.present? %-->
                    <p class="promocion"><a href="<%= deal.link %>" class="btn btn-rojo-small" target="_blank">Ir a la promoción <span class="glyphicon glyphicon-share-alt"></span></a></p>
                    <!--% end %-->
                  </div>
                </div>
                <% count = count + 1 %>
                <% end %>
            </div>
          <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Atrás</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Adelante</span>
            </a>
          </div>
        </div>
    </div>
    <!-- TERMINA MÁS VOTADAS -->
  </div>
</div>
<!-- INICIA LISTADO DE PROMOCIONES -->
<div class="page">
  <h1>Más Promociones</h1>
    <%= render "deals/deals" %>
</div>
<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>

<%= paginate @deals %>
<script>
  <%= render(:partial => '/deals/deals', :formats => [:js] ) %>
</script>