<div class="row">
  <!-- HOT Deals -->
  <div class="col-lg-8">
    <div class="header-box">
      <div class="row">
        <div class="col-sm-8">
          <div class="title-big">Promoción TOP</div>
        </div>
        <div class="col-sm-4">
          <div class="thumbs">
            <% if @hot_deal.rank < 0 %>
              <span class="thumb-cold">
                <%= @hot_deal.rank %>
              </span>
            <% elsif @hot_deal.rank >= 0 && @hot_deal.rank <= 100 %>
              <span class="thumb-warm">
                <%= @hot_deal.rank %>
                <%= fa_icon "thermometer-empty" %>
              </span>
            <% elsif @hot_deal.rank >= 101 && @hot_deal.rank <= 200 %>
              <span class="thumb-warmer">
                <%= @hot_deal.rank %>
              </span>
            <% else %>
              <span class="thumb-hot">
                <%= @hot_deal.rank %>
              </span>
            <% end %>
          <% if user_signed_in? %>
            <% if @hot_deal.behaviors.exists? user_id: current_user.id  %>
             <% @hot_deal.behaviors.each do |item| %>
                <% @grade = item.grade %>
                <% if @grade == 1 %>
                  <a href="#" class="down" id="negative"><%= fa_icon "thumbs-o-down" %></a>
                  <a href="#" class="up" id="positive"><%= fa_icon "thumbs-o-up" %></a>
                <% else %>
                  <a href="#" class="down" id="negative"><%= fa_icon "thumbs-o-down" %></a>
                  <a href="#" class="up" id="positive"><%= fa_icon "thumbs-o-up" %></a>
                <% end %>
              <% end %>
            <% else %>
                  <a href="#" id="negative" class="rank down" promoid="<%= @hot_deal.id %>"><%= fa_icon "thumbs-o-down" %></a>
                  <a href="#" id="positive" class="rank up" promoid="<%= @hot_deal.id %>"><%= fa_icon "thumbs-o-up" %></a>
            <% end %>
          <% else %>
                  <a href="#login" class="down" data-toggle="modal"><%= fa_icon "thumbs-o-down" %></a>
                  <a href="#login" class="up" data-toggle="modal"><%= fa_icon "thumbs-o-up" %></a>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box">
      <div class="col-sm-6 white">
        <% if @hot_deal.imagen.present? %>
          <%= image_tag @hot_deal.imagen, class: 'img-responsive' %>
        <% else %>
        <%= image_tag @hot_deal.promoimage.url(:big), class: 'img-responsive' %>
        <% end %>
      </div>
      <div class="col-sm-6 white">
        <div class="row">
          <div class="col-sm-6"><p class="category"><%= @hot_deal.category.description %></p></div>
          <div class="col-sm-6 right"><p class="comments"><%= @hot_deal.comments.count %> <%= fa_icon 'comment' %></p></div>
        </div>        
        <h2 class="name"><%= @hot_deal.title %></h2>
        <p class="price"><%= @hot_deal.price %></p>
        <p class="store"><%= @hot_deal.store.description %>
          <span>
            <% if @hot_deal.type_deal == 1 %> 
              Online 
            <% else %> 
              Física 
            <%end%>
          </span>
        </p>
        <%= link_to "Ver mas", deal_path(@hot_deal), class: 'btn btn-primary' %>
        <% if @hot_deal.link.present? %>
          <a href="<%= @hot_deal.link %>" class="btn btn-primary">Ver promoción</a>
        <% end %>
        
      </div>
    </div>
  </div>
  <!-- More voted -->
  <div class="col-lg-4">
    <div class="header-box">
      <div class="title-big">Más votadas</div>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <% count = 0 %>
          <% @top_voted.each do |deal| %>
          <% if count == 0 %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
              <p class="category"><%= deal.category.description %></p>
              <h2 class="nombre"><%= deal.title %></h2>
              <p class="price"><%= deal.price %></p>
              <p class="promocion"><%= link_to "Ver mas", deal_path(deal) %></p>
              <% if deal.link.present? %>
              <p class="promocion"><a href="<%= deal.link %>">Ver promoción</a></p>
              <% end %>
              <% if deal.imagen.present? %>
                <%= image_tag deal.imagen, class: 'img-responsive' %>
              <% else %>
              <%= image_tag deal.promoimage.url(:big), class: 'img-responsive' %>
              <% end %>
          </div>
          <% count = count + 1 %>
          <% end %>
      </div>

    <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Atrás</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Adelante</span>
      </a>
    </div>
  </div>
</div>
<hr><hr>
<div class="row">
    <% @deals.each do |deal| %>
    <div class="col-sm-4">
 
      <div class="row">
        <div class="col-sm-6">
              <% if deal.promoimage.exists? %>
              <%= image_tag deal.promoimage.url(:big), class: 'img-responsive' %>
              <% end %>
              <% if deal.imagen.present? %>
              <%= image_tag deal.imagen, class: 'img-responsive' %>
              <% end %>
        </div>
        <div class="col-sm-6">

            <%= deal.title %>
            <%= deal.description %>
            <%= deal.link %>
            <%= deal.price %>
            <%= deal.expiration %>
            <%= deal.user.nickname %>
          <p class="promocion"><%= link_to "Ver mas", deal_path(deal) %></p>
          <% if @hot_deal.link.present? %>
          <p class="promocion"><a href="<%= @hot_deal.link %>">Ver promoción</a></p>
          <% end %>
          
        </div>
      </div>
  
    </div>
    <% end %>
</div>

<h1>Deals</h1>

  <tbody>
  </tbody>
</table>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.rank').click(function(event) {   
      promoid = $(this).attr('promoid');
      number = $(this).attr('id');
      $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: promoid,
           number: number
        },
        success: function(data) { 
          console.log(data);
        }
      });
    });
  });
</script>
