<%= form_for(setting) do |f| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :core %>
    <%= f.text_field :core %>
  </div>
  <br>
  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit 'Agregar', :class => 'btn-rojo' %>
  </div>
<% end %>
