<%= bootstrap_form_for @deal,  html: { multipart: true } do |f| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.text_field :title, :required => true %>
    </div>
    <div class="field">
      <%= f.trix_editor :description %>
    </div>
    <div class="field">
      <%= f.text_field :link %>
    </div>
    <div class="field">
      <%= f.text_field :crawler %>
    </div>
    <div class="field">
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.text_field :mpn %>
    </div>
    <div class="field">
      <%= f.datetime_field :created_at %>
    </div>
    <div class="field">
      <%= f.text_field :impressions %>
    </div>
    <div class="field">
      <%= f.text_field :hits %>
    </div>
    <div class="field">
      <%= f.text_field :expiration %>
    </div>
    <div class="field">
      <% if current_user.try(:admin?) %>
          <%= f.text_field :status %>
      <% end %>
    </div>
    <div class="field">
      <%= f.collection_select :category_id,  @categories.order('name ASC'), :id, :name, multiple: true, :prompt => "Please Select" %>
    </div>
    <div class="field">
      <%= f.collection_select :store_id,  @stores.order('name ASC'), :id, :name, multiple: true, :prompt => "Selecciona una opción", label: "Tienda" %>
    </div>
    <div class="field">
      <%= f.text_field :type_deal %>
    </div>
    <div class="field">
      <%= f.file_field :promoimage %>
    </div>
    <hr>
    <h3>Comparador de precios</h3>
    <div class="field">
      <%= f.text_field :liverpool %>
    </div>
    <div class="field">
      <%= f.text_field :amazon %>
    </div>
    <div class="field">
      <%= f.text_field :elektra %>
    </div>
    <div class="field">
      <%= f.text_field :walmart %>
    </div>
    <div class="field">
      <%= f.text_field :bestbuy %>
    </div>
    <%= f.submit 'Actualizar Promoción', :class => 'btn-rojo' %>
<% end %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#deal_link').blur(function(event) {   
      url_input = $(this).val();
      $.ajax({
        url:  "/image/scrapp",
        dataType: "json",
        data: {
           url_host: url_input
        },
        success: function(data) { 
          count=0;
          for (i in data.images) {
              $('#scrapp-images').append('<img src="'+data.images[i]+'">');
              if(count == 0){
                console.log("Entro");
                $('#deal_imagen').val(data.images[i]);                
              }
              count++;
          }
        }
      });
    });
  });
</script>