<style type="text/css">
  #scrapp-images .alert{
    margin-top: 0px !important;
  }
</style>
<%= bootstrap_form_for @deal,  html: { multipart: true } do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-md-12 no-padding">

      <div class="row">
        <div class="col-md-9">
          <%= f.text_field :link, label: "Enlace de la promoción:", placeholder: "http://www.enlacealapromocion.com", help: "Ingresa la URL con la que los demás miembros podrán ver el artículo en promoción"%>
          <div class="loader-image"><img src="/images/spinner.gif"></div>
          <p class="LabelHelper" style="display: none;">Si la imagen que obtuvimos automáticamente no coincide con tu promoción puedes subir una propia</p>
        </div>
        <div class="col-md-3 no-padding">
          <div class="btn-obtener" style="">Obtener imagen</div>
        </div>
        <div class="col-md-12">
          <div id="scrapp-images" class="row" style="margin-top: 0px;"></div> 
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="img-upload">
          <!--
            <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
            <label for="file-1"><span class="glyphicon glyphicon-cloud-upload"></span> <span>Sube una imagen</span></label>-->
            <%= f.file_field :promoimage, label: "Sube tu propia imagen", placeholder: "Sube tu imagen", :class => 'btn-upload' %>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_field :title, label: "Título:", placeholder: "Artículo o Promoción" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 no-padding">
        <div class="col-xs-6">
          <%= f.number_field :price, label: "Precio:", placeholder: "999.00" %>
          <%= f.hidden_field :mpn, label: "Model:", placeholder: "000000000" %>
          <!--%= f.date_field :expiration, label: "Expira el:", placeholder: "DD/MM/YYYY" %-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= f.collection_select :category_id,  @categories.order('name ASC'), :id, :name, multiple: true, :prompt => "Selecciona una Categoría", label: "Categoría:" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= f.collection_select :store_id,  @stores.order('name ASC'), :id, :name, multiple: true, :prompt => "Selecciona una Tienda", label: "Tienda:" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 description-new">
          <label>Descripción:</label>
          <%= f.trix_editor :description, placeholder: "Describe la oferta con tus propias palabras y comparte con la comunidad por qué vale la pena esta promoción."%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.hidden_field :type_deal %>
          <%= f.hidden_field :imagen %>
          <%= f.submit :value => 'Compartir Promoción', :class => 'btn btn-compartir' %>
        </div>
      </div>
      
    </div>
<% end %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.btn-obtener').click(function(event) {
      $('#scrapp-images').html('');

      //var url_input = e.originalEvent.clipboardData.getData('text');
      var url_input = $("#deal_link").val();
      /*
        $.ajax({
        url:  "/validate/link",
        dataType: "json",
        data: {
           url_host: url_input
        },
        success: function(data) { 
          if(data.message == "exists"){
            console.log("La promoción ya existe");
          }else{
            console.log("La promoción no existe");
          }
        }
        });
      */
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      if (url_input.match(regex)) {
        if(url_input.length > 10){ 
          $('.loader-image').show();
          $.ajax({
            url:  "/image/scrapp",
            dataType: "json",
            data: {
               url_host: url_input
            },
            success: function(data) {
              console.log(data);
              $('.loader-image').hide();
              if(data.message != "error" && data.title != "Server Busy"){
                if (typeof data.model !== 'undefined' && data.model.length > 0) {
                    $('#deal_mpn').val(data.model[0]);
                }
                if (data.url != ""){
                  url = data.url
                  $("#deal_store_id option").each(function()
                  {
                    substring = $(this).text().toLowerCase();
                    substring = substring.replace( /\s/g, "");
                    if (url.indexOf(substring) !=-1) {
                      $(this).attr('selected','selected')
                    }
                  });
                }
                if(data.title != ""){
                  $('#deal_title').val(data.title);  
                  $('#deal_price').val(data.price);  
                }
                if(data.price != ""){ 
                  var price = Number(data.price.replace(/[^0-9\.]+/g,""));
                  $('#deal_price').val(price);  
                }
                for (i in data.images) {
                  $('#scrapp-images').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load" id="imgscrapp-'+i+'" style="display:none; max-height:101px;"></div>');
                }
                count=0;
                $('.imgscrappcontainer img').each(function(index, el) {
                  
                  idIm = $(this).attr('id');
                  if (checkURL($("#"+idIm).attr('src'))){
                    $("#"+idIm).load(function() {
                        if($(this).height() > 100 && $(this).width() > 100){
                          if(count < 24){
                          $(this).show();
                          $(this).addClass('img-responsive');
                          count++;
                          }
                        }else{
                          $(this).parent().remove();
                        }
                    });
                  }else{
                    $(this).parent().remove();
                  }
                });
                $('.imgscrappcontainer img').click(function(event) {
                  $('.imgscrappcontainer img').css({
                    'opacity': '0.7',
                    'border': 'none'
                  });
                  $(this).css({
                    'opacity': '1',
                    'border': '2px solid #d93438'
                  });
                  route = $(this).attr('src');
                  $('#deal_imagen').val(route);
                });
              }else{
                $('#scrapp-images').append('<div class="alert alert-danger">No pudimos recuperar la imagen de tu promoción, intenta de nuevo o sube una imagen</div><br>');
              }
            }
          });
        }
      } 
      else {
        $('#scrapp-images').append('<div class="alert alert-danger">La URL no es válida</div><br>');
      }
      
    });
    $('#deal_link').on('paste', function (e) {
      $('#scrapp-images').html('');

      var url_input = e.originalEvent.clipboardData.getData('text');
      //var url_input = $(this).val();
      /*
        $.ajax({
        url:  "/validate/link",
        dataType: "json",
        data: {
           url_host: url_input
        },
        success: function(data) { 
          if(data.message == "exists"){
            console.log("La promoción ya existe");
          }else{
            console.log("La promoción no existe");
          }
        }
        });
      */
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      if (url_input.match(regex)) {
        if(url_input.length > 10){ 
          $('.loader-image').show();
          $.ajax({
            url:  "/image/scrapp",
            dataType: "json",
            data: {
               url_host: url_input
            },
            success: function(data) {
              console.log(data);
              $('.loader-image').hide();
              if(data.message != "error" && data.title != "Server Busy"){
                if (typeof data.model !== 'undefined' && data.model.length > 0) {
                    $('#deal_mpn').val(data.model[0]);
                }
                if (data.url != ""){
                  url = data.url
                  $("#deal_store_id option").each(function()
                  {
                    substring = $(this).text().toLowerCase();
                    substring = substring.replace( /\s/g, "");
                    if (url.indexOf(substring) !=-1) {
                      $(this).attr('selected','selected')
                    }
                  });
                }
                if(data.title != ""){
                  $('#deal_title').val(data.title);  
                  $('#deal_price').val(data.price);  
                }
                if(data.price != ""){ 
                  var price = Number(data.price.replace(/[^0-9\.]+/g,""));
                  $('#deal_price').val(price);  
                }
                for (i in data.images) {
                  $('#scrapp-images').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load" id="imgscrapp-'+i+'" style="display:none; max-height:101px;"></div>');
                }
                count=0;
                $('.imgscrappcontainer img').each(function(index, el) {
                  
                  idIm = $(this).attr('id');
                  if (checkURL($("#"+idIm).attr('src'))){
                    $("#"+idIm).load(function() {
                        if($(this).height() > 100 && $(this).width() > 100){
                          if(count < 24){
                          $(this).show();
                          $(this).addClass('img-responsive');
                          count++;
                          }
                        }else{
                          $(this).parent().remove();
                        }
                    });
                  }else{
                    $(this).parent().remove();
                  }
                });
                $('.imgscrappcontainer img').click(function(event) {
                  $('.imgscrappcontainer img').css({
                    'opacity': '0.7',
                    'border': 'none'
                  });
                  $(this).css({
                    'opacity': '1',
                    'border': '2px solid #d93438'
                  });
                  route = $(this).attr('src');
                  $('#deal_imagen').val(route);
                });
              }else{
                $('#scrapp-images').append('<div class="alert alert-danger">No pudimos recuperar la imagen de tu promoción, intenta de nuevo o sube una imagen</div><br>');
              }
            }
          });
        }
      } 
      else {
        $('#scrapp-images').append('<div class="alert alert-danger">La URL no es válida</div><br>');
      }
    });
  });

function checkURL(url) {
    return(url.match(/\.(jpeg|jpg)$/) != null);
}
var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
  var label  = input.nextElementSibling,
    labelVal = label.innerHTML;

  input.addEventListener( 'change', function( e )
  {
    var fileName = '';
    if( this.files && this.files.length > 1 )
      fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
    else
      fileName = e.target.value.split( '\\' ).pop();

    if( fileName )
      label.querySelector( 'span' ).innerHTML = fileName;
    else
      label.innerHTML = labelVal;
  });
});
</script>
<style type="text/css">
  .imgscrappcontainer img{
    opacity: 0.7
  }
  .imgscrappcontainer img:hover{
    opacity: 1;
    cursor:pointer;
  }
</style>