<%= form_for @deal, url: deals_path, html: { multipart: true } do |f| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="scrapp-images"></div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :expiration %>
    <%= f.text_field :expiration %>
  </div>

  <div class="field">
    <%= f.label :type_deal %>
    <%= f.text_field :type_deal %>
  </div>
  <div class="field">
  <%= f.file_field :promoimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#deal_link').blur(function(event) {   
      url_input = $(this).val();
      $.ajax({
        url:  "/image/scrapp",
        dataType: "json",
        data: {
           url_host: url_input
        },
        success: function(data) { 
          for (i in data.images) {
              $('#scrapp-images').append('<img src="'+data.images[i]+'">');
          }
        }
      });
    });
  });
</script>