
<%= bootstrap_form_for @deal,  html: { multipart: true } do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title, label: "Título", placeholder: "Artículo o Promoción" %>
    <label>Descripción</label>
    <%= f.trix_editor :description, placeholder: "Si es en tienda física menciona qué sucursal e incluye una foto Si es por internet, incluye el link Por favor evita mayúsculas Describe la oferta con tus propias palabras y comparte con la comunidad por qué vale la pena esta promoción. Si no ves la tuya, puedes ser por una de estas razones: duplicado, promoción personal, links de referidos, no hay inventario, no es oferta, es un concurso (al menos que sea uno en el que todos ganan)"%>
    <%= f.file_field :promoimage, label: "Sube tu imagen" %>
    <%= f.number_field :price, label: "Precio" %>
    <%= f.text_field :expiration, label: "Fecha de Expiración (opcional)" %>
   
    <%= f.hidden_field :type_deal %>
    <%= f.submit %>

<% end %>