<style type="text/css">
  #scrapp-images .alert{
    margin-top: 0px !important;
  }
  .carousel{
    margin: 0px 0px 10px 0px;
    float: left;
    width: 100%;
    padding: 10px 10px;
  }
  .carousel-inner{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
  }
  .carousel-control{
    width: 5%;
  }
  .margen-b{
    margin-bottom: 10px;
  }
  .margen-b img{
    margin: 0 auto;
    cursor: pointer;
    max-width: 100%;
  }
</style>
<%= bootstrap_form_for @deal,  html: { multipart: true } do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-md-12 no-padding">

      <div class="row">
        <div class="col-md-9">
          <%= f.text_field :link, label: "Enlace de la promoción:", placeholder: "http://www.enlacealapromocion.com", help: "Ingresa la URL con la que los demás miembros podrán ver el artículo en promoción"%>
          <div class="loader-image"><img src="/images/spinner.gif"></div>
          <p class="LabelHelper" style="display: none;">Si la imagen que obtuvimos automáticamente no coincide con tu promoción puedes subir una propia</p>
        </div>
        <div class="col-md-3 no-padding">
          <div class="btn-obtener" style="">Obtener imagen</div>
        </div>
        <div class="col-md-12">
          <div id="scrapp-images" class="row" style="margin-top: 0px;"></div> 
        </div>
        <div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner" role="listbox">
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
        <!--TERMINA CARRUSEL-->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="img-upload">
            <%= f.file_field :promoimage, label: "Sube tu propia imagen", placeholder: "Sube tu imagen", :class => 'btn-upload' %>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_field :title, label: "Título:", placeholder: "Artículo o Promoción" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 no-padding">
        <div class="col-xs-6">
          <%= f.number_field :price, label: "Precio:", placeholder: "999.00" %>
          <%= f.hidden_field :mpn, label: "Model:", placeholder: "000000000" %>
          <!--%= f.date_field :expiration, label: "Expira el:", placeholder: "DD/MM/YYYY" %-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= f.collection_select :category_id,  @categories.order('name ASC'), :id, :name, multiple: true, :prompt => "Selecciona una Categoría", label: "Categoría:" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= f.collection_select :store_id,  @stores.order('name ASC'), :id, :name, multiple: true, :prompt => "Selecciona una Tienda", label: "Tienda:" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 description-new">
          <label>Descripción:</label>
          <%= f.trix_editor :description, placeholder: "Describe la oferta con tus propias palabras y comparte con la comunidad por qué vale la pena esta promoción."%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.hidden_field :type_deal %>
          <%= f.hidden_field :imagen %>
          <%= f.submit :value => 'Publicar oferta', :class => 'btn btn-compartir'%>
        </div>
      </div>
      
    </div>
<% end %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.btn-obtener').click(function(event) {
      $('.item').remove();
      $('.alert').remove();
      var url_input = $("#deal_link").val();
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      if (url_input.match(regex)) {
        if(url_input.length > 10){ 
          $('.loader-image').show();
          $.ajax({
            url:  "/image/scrapp",
            dataType: "json",
            data: {
               url_host: url_input
            },
            success: function(data) {
              console.log(data);
              $('.loader-image').hide();
              if(data.message != "error" && data.title != "Server Busy" && data.title != "500 Error de Servicio no disponible"){
                if (typeof data.model !== 'undefined' && data.model.length > 0) {
                    $('#deal_mpn').val(data.model);
                }
                if (data.url != ""){
                  url = data.url
                  var $url = url;
                  var a = document.createElement('a');
                  a.href = $url;
                  var $finalUrl = a.protocol + '//' + a.hostname;
                  $("#deal_store_id option").each(function()
                  {
                    substring = $(this).text().toLowerCase();
                    substring = substring.replace( /\s/g, "");
                    if ($finalUrl.indexOf(substring) !=-1) {
                      $(this).attr('selected','selected')
                    }
                  });
                }
                if(data.title != ""){
                  $('#deal_title').val(data.title);  
                  $('#deal_price').val(data.price);  
                }
                if(data.price != ""){ 
                  var price = Number(data.price.replace(/[^0-9\.]+/g,""));
                  $('#deal_price').val(price);  
                }
                classactive ="";
                items = "";
                switch(data.store){
                  case "liverpool":
                    for (i in data.images) {
                      if (data.images[0] != ""){
                        var JsonObj = JSON.parse(data.images[0]);
                        console.log(JsonObj);
                        for (var key in JsonObj) {
                        $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+JsonObj[key]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                        }
                      }
                    }
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).show();
                      }
                    });   
                    break;
                  case "costco":
                    for (i in data.images) {
                      $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                    }    
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).show();
                      }
                    });   
                    break;
                  case "elektra":
                    for (i in data.images) {
                      $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                    }    
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).show();
                      }
                    });   
                    break;
                  default:
                    for (i in data.images) {
                      $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                    }    
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).parent().remove();
                      }
                    });           
                }

                count=0;
              

                active = 0;
                $('div.carousel-inner > .imgscrappcontainer').each(function(i) {
                    if(active == 0){activeclass="active";}else{activeclass="";}
                    if( i % 6 == 0 ) {
                      $(this).nextAll().andSelf().slice(0,6).wrapAll('<div class="item '+activeclass+' "></div>');
                    }
                    active++;
                });
                $('.imgscrappcontainer img').click(function(event) {
                  $('.imgscrappcontainer img').css({
                    'opacity': '0.7',
                    'border': 'none'
                  });
                  $(this).css({
                    'opacity': '1',
                    'border': '2px solid #d93438'
                  });
                  route = $(this).attr('src');
                  $('#deal_imagen').val(route);
                });
                
                $('.imgscrappcontainer img').first().trigger('click');

              }else{
                $('#scrapp-images').append('<div class="alert alert-danger">No pudimos recuperar la imagen de tu promoción, intenta de nuevo o sube una imagen</div>');
              }
            }
          });
        }
      } 
      else {
        $('#scrapp-images').append('<div class="alert alert-danger">La URL no es válida</div>');
      }
      
    });
    $('#deal_link').on('paste', function (e) {
      $('.item').remove();
      $('.alert').remove();
      var url_input = e.originalEvent.clipboardData.getData('text');
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      if (url_input.match(regex)) {
        if(url_input.length > 10){ 
          $('.loader-image').show();
          $.ajax({
            url:  "/image/scrapp",
            dataType: "json",
            data: {
               url_host: url_input
            },
            success: function(data) {
              console.log(data);
              $('.loader-image').hide();
              if(data.message != "error" && data.title != "Server Busy" && data.title != "500 Error de Servicio no disponible"){
                if (typeof data.model !== 'undefined' && data.model.length > 0) {
                    $('#deal_mpn').val(data.model);
                }
                if (data.url != ""){
                  url = data.url
                  var $url = url;
                  var a = document.createElement('a');
                  a.href = $url;
                  var $finalUrl = a.protocol + '//' + a.hostname;
                  $("#deal_store_id option").each(function()
                  {
                    substring = $(this).text().toLowerCase();
                    substring = substring.replace( /\s/g, "");
                    if ($finalUrl.indexOf(substring) !=-1) {
                      $(this).attr('selected','selected')
                    }
                  });
                }
                if(data.title != ""){
                  $('#deal_title').val(data.title);  
                  $('#deal_price').val(data.price);  
                }
                if(data.price != ""){ 
                  var price = Number(data.price.replace(/[^0-9\.]+/g,""));
                  $('#deal_price').val(price);  
                }
                classactive ="";
                items = "";
                switch(data.store){
                  case "liverpool":
                    for (i in data.images) {
                      if (data.images[0] != ""){
                        var JsonObj = JSON.parse(data.images[0]);
                        console.log(JsonObj);
                        for (var key in JsonObj) {
                        $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+JsonObj[key]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                        }
                      }
                    }
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).show();
                      }
                    });   
                    break;
                  case "costco":
                    for (i in data.images) {
                      $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                    }    
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).show();
                      }
                    });   
                    break;
                  case "elektra":
                    for (i in data.images) {
                      $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                    }    
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).show();
                      }
                    });   
                    break;
                  default:
                    for (i in data.images) {
                      $('.carousel-inner').append('<div class="col-sm-2 col-xs-4 imgscrappcontainer" style="margin-bottom:5px;"><img src="'+data.images[i]+'" class="image-to-load img-responsive" id="imgscrapp-'+i+'" style="display:none"></div>');
                    }    
                    $('.imgscrappcontainer img').each(function(index, el) { 
                      if (checkURL($(this).attr('src'))){
                        $(this).show();
                      }else{
                        $(this).parent().remove();
                      }
                    });           
                }

                count=0;
              

                active = 0;
                $('div.carousel-inner > .imgscrappcontainer').each(function(i) {
                    if(active == 0){activeclass="active";}else{activeclass="";}
                    if( i % 6 == 0 ) {
                      $(this).nextAll().andSelf().slice(0,6).wrapAll('<div class="item '+activeclass+' "></div>');
                    }
                    active++;
                });
                
                $('.imgscrappcontainer img').click(function(event) {
                  $('.imgscrappcontainer img').css({
                    'opacity': '0.7',
                    'border': 'none'
                  });
                  $(this).css({
                    'opacity': '1',
                    'border': '2px solid #d93438'
                  });
                  route = $(this).attr('src');
                  $('#deal_imagen').val(route);
                });

                $('.imgscrappcontainer img').first().trigger('click');
                
              }else{
                $('#scrapp-images').append('<div class="alert alert-danger">No pudimos recuperar la imagen de tu promoción, intenta de nuevo o sube una imagen</div>');
              }
            }
          });
        }
      } 
      else {
        $('#scrapp-images').append('<div class="alert alert-danger">La URL no es válida</div><br>');
      }
    });
  });

function checkURL(url) {
    return(url.match(/\.(jpeg|jpg|png)$/) != null);
}
</script>
<style type="text/css">
  .imgscrappcontainer img{
    opacity: 0.7
  }
  .imgscrappcontainer img:hover{
    opacity: 1;
    cursor:pointer;
  }
</style>