
<%= bootstrap_form_for @deal,  html: { multipart: true } do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-12">
      <%= f.text_field :title, label: "Título de la Promoción:", placeholder: "Artículo o Promoción" %>
      <%= f.file_field :promoimage, label: "Sube tu imagen" %>
    </div>
    <div class="row">
      <div class="col-md-8 no-padding">
        <div class="col-xs-6">
          <%= f.number_field :price, label: "Precio:" %>
        </div>
        <div class="col-xs-6">
          <%= f.text_field :expiration, label: "Expira el:", placeholder: "DD/MM/YYYY" %>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 description-new">
        <label>Descripción:</label>
        <%= f.trix_editor :description, placeholder: "Describe la oferta con tus propias palabras y comparte con la comunidad por qué vale la pena esta promoción."%>
      </div>
    </div>
    <div class="col-md-12">
      <%= f.hidden_field :type_deal %>
      <%= f.submit :value => 'Compartir Promoción', :class => 'btn btn-compartir' %>
    </div>    

<% end %>