<div class="row" id="deals">
	<h1 style="padding: 0px 15px;">Moderar Promociones</h1>
	<div class="container">
		<ul class="menu-moderar">
			<a href="/moderate"><li><span class="glyphicon glyphicon-list"></span> Todas (<%= @deals3 %>)</li></a>
			<a href="?status=0"><li><span class="glyphicon glyphicon-bell"></span> Por Aceptar (<%= @deals0 %>)</li></a>
			<a href="?status=1"><li><span class="glyphicon glyphicon-ok"></span> Aceptadas (<%= @deals1 %>)</li></a>
			<a href="?status=2"><li><span class="glyphicon glyphicon-remove"></span> Rechazadas (<%= @deals2 %>)</li></a>
		</ul>
	</div>
	<!-- INICIA LISTADO DE PROMOCIONES -->
	<div class="container page">
	    <%= render "deals/dealsmoderate" %>
	</div>
	<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>
<%= paginate @deals %>