<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.use-current-location-text').click(function(event) {
      dataLayer.push({
        'event': 'storelocator', 
        'eventCategory': 'storelocator', 
        'type-search': 'Geolocation', 
        'zipcodecity': 'Geolocation' 
      });
    });
    $('.find-stores').click(function(event) {
      zipcodecity = $('#zip-city-state').val();
      dataLayer.push({
        'event': 'storelocator', 
        'eventCategory': 'storelocator', 
        'type-search': 'Search', 
        'zipcodecity': zipcodecity 
      });
    });
  });
</script>
<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <!--CATEGORÍA, USUARIO, COMENTARIOS Y RANKING-->
      <div class="row">
        <div class="col-md-7">
            <div class="category">
              <a href="descuentos-por-categoria/<%= @deal.category.id %>/<%= @deal.category.slug %>"><%= @deal.category.description %></a>
            </div>
            <div class="usuario">
              <% if @deal.user_id.present? %>
              <span class="visible-lg publicado">Publicado por:</span>
                <span class="visible-xs publicado">Por: </span>
                <a href=""><%= @deal.user.nickname %></a>
              <% else %>
              <span class="visible-lg publicado">Publicado por:</span>
                <span class="visible-xs publicado">Por: </span>
              <a href=""> Invitado </a>
              <% end %>
            </div>
            <div class="fecha">
            <!--%= (Datetime.today - deal.created_at.to_datetime).to_i %-->
            <% 
              t1 = Time.now
              t2 = @deal.created_at
              f1 = Date.today
              f2 = @deal.created_at.to_date
              d1 = f1.day
              d2 = f2.day
            %>
            <% if f1 == f2 %>
              Hace <%= distance_of_time_in_words(t2, t1) %>
              <% else %>
              Hace <%= distance_of_time_in_words(f2, f1) %>
            <% end %>
            </div>
            <p class="comments"><a href="descuentos/<%= @deal.id %>-<%= @deal.slug %>#comments"><%= @deal.comments.count %> <%= fa_icon 'comment' %></a></p>
        </div>
        <div class="col-md-5 rank-det">
          <span class="thumbs-quality">
            <% if user_signed_in? %> 
              <% if @deal.behaviors.exists? user_id: current_user.id  %>
                <% @deal.behaviors.each do |item| %>
                  <% if item.grade == 1 %>
                    <span class="up" vote="positive"><span><%= fa_icon "thumbs-up" %></span></span>
                  <% else %>
                    <span class="down" vote="negative"><span><%= fa_icon "thumbs-down" %></span></span>
                  <% end %>
                <% end %>
              <% else %>
                    <span vote="negative" class="rank down" promoid="<%= deal.id %>"><%= fa_icon "thumbs-down" %></span>
                    <span href="#" vote="positive" class="rank up" promoid="<%= deal.id %>"><%= fa_icon "thumbs-up" %></span>
              <% end %>
            <% else %>
                    <a href="#login" class="down" data-toggle="modal"><%= fa_icon "thumbs-down" %></a>
                    <a href="#login" class="up" data-toggle="modal"><%= fa_icon "thumbs-up" %></a>
            <% end %>
          </span>
           <span class="<%= rank_style(@deal.rank) %> grades">
            <%= fa_icon "thermometer-empty" %>
            <span class="rank-meter"><%= @deal.rank %></span>
            <span class="grados-sign">&#186;</span>
          </span>
        </div>
      </div>
      <!--CATEGORÍA, USUARIO, COMENTARIOS Y RANKING-->
      <!--IMAGEN, TÍTULO, PRECIO Y BOTÓN-->
      <div class="row deal-title">
        <div class="col-md-4 img-tit">
          <% if @deal.imagen.present? %>
            <%= image_tag @deal.imagen, class: 'img-responsive' %>
          <% else %>
            <%= image_tag @deal.promoimage.url(:medium), class: 'img-responsive' %>
          <% end %>
        </div>
        <div class="col-md-8">
          <h1><%= @deal.title %></h1>
          <div class="det-price">
            <%= number_to_currency(@deal.price) %>
          </div>
          <div class="det-btn">
          <% if @deal.link.present? %>
            <a href="<%= @deal.link %>" class="btn btn-rojo" target="_blank">Ir a la promoción <span class="glyphicon glyphicon-share-alt"></span></a>
          <% end %>
          </div>
        </div>
      </div>
      <!--IMAGEN, TÍTULO, PRECIO Y BOTÓN-->
      <!--DESCRIPCIÓN DE LA PROMOCIÓN-->
      <div class="row det-descripcion">
        <div class="col-md-12">
          <%= @deal.description %>
        </div>
      </div>
      <!--DESCRIPCIÓN DE LA PROMOCIÓN-->
      <!--BARRA PARA COMPARTIR O REPORTAR-->
      <div class="row det-social">
        <div class="col-md-12">
          <ul class="social-list">
            <li><a href=""><i class="fa fa-share-alt" aria-hidden="true"></i> Compartir</a></li>
            <li><a href=""><i class="fa fa-star" aria-hidden="true"></i> Agregar a Favoritas</a></li>
            <li><a href=""><i class="fa fa-volume-up" aria-hidden="true"></i> Reportar</a></li>
          </ul>
        </div>
      </div>
      <!--BARRA PARA COMPARTIR O REPORTAR-->
      <!--COMENTARIOS-->
      <div class="row det-comentarios">
        <div class="col-md-12">
          <h4><%= @deal.comments.count %> Comentarios</h4>
          <% if @deal.comments.exists? %>
            <% @deal.comments.each do |item| %>
              <% 
                t1 = Time.now
                t2 = item.created_at
                f1 = Date.today
                f2 = item.created_at.to_date
                d1 = f1.day
                d2 = f2.day
              %>
              <% if f1 == f2 %>
                Hace <%= distance_of_time_in_words(t2, t1) %>
                <% else %>
                Hace <%= distance_of_time_in_words(f2, f1) %>
              <% end %>
              <%= item.user.nickname %>
              <%= item.description.html_safe %>
              <% if item.parent.present? %>
                 Respondio un comentario (Hay q poner el comentario que se respondió)
              <% end %>
              <div class="reply" commentid="<%= item.id %>" de="<%= item.user.nickname %>" >Reply</div>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row comments-box">
        <h4>Publica un comentario</h4>
          <div class="reply-answer"></div>
          <input type="text" id="parentid">
          <input id="commentContent" value="Editor content goes here" type="hidden" name="content">
          <trix-editor input="commentContent"></trix-editor>
          <button class="btn btn-primary" id="save_comment" promoid="<%= @deal.id %>">Publicar comentario</button>
      </div>
      <!--COMENTARIOS-->
    </div>
    <div class="col-md-3 banners">
      <img src="/images/detalle/banner-demo.jpg" class="img-responsive" />
      <img src="/images/detalle/banner-demo.jpg" class="img-responsive" />
    </div>
  </div>
</div>



<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.reply').click(function(event) {
     $('.reply-answer').text('Respondiendo comentario de '+($(this).attr('de')));
     $('#parentid').val($(this).attr('commentid'));
    });
    $('#save_comment').click(function(event) {
      description = $('#commentContent').val();
      promoid = $(this).attr('promoid');
      parent = $('#parentid').val();
      $.ajax({
        url:  "/saveComment",
        dataType: "json",
        data: {
           promoid: promoid,
           description: description,
           parent: parent
        },
        success: function(data) { 
          $('.comments-box').replaceWith('<h4>Tú comentario está en validación</h4>');
        }
      });
    });
    $('.rank').click(function(event) {   
      promoid = $(this).attr('promoid');
      number = $(this).attr('id');
      $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: promoid,
           number: number
        },
        success: function(data) { 
          console.log(data);
        }
      });
    });
  });
</script>
