<% 
@imageurl = "";
if @deal.imagen.present?
  @imageurl = @deal.imagen
else
  if @deal.promoimage.exists? 
    @imageurl = @deal.promoimage.url(:big)
  end
end
@current_url = request.protocol+request.host_with_port
set_meta_tags og: {
  title:    @deal.title,
  description:    strip_tags(@deal.description),
  type:     'product',
  url:      @current_url+"/descuentos/"+@deal.id.to_s+"-"+@deal.slug,

  image:    @imageurl,
  site_name: 'Descuentos y Promociones'
}
set_meta_tags twitter: {
  card: "summary",
  site: "@gerardoayalad",
  title:    @deal.title,
  description:    strip_tags(@deal.description),
  image:    @imageurl
}
set_meta_tags canonical: "http://www.descuentosypromociones.com/descuentos/"+@deal.id.to_s+"-"+@deal.slug,
              description:    strip_tags(@deal.description)
%>
<style type="text/css">
  .button_row .history_tools{
    display: none;
  }
</style>
<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <!--CATEGORÍA, USUARIO, COMENTARIOS Y RANKING-->
      <div class="row">
        <% if current_user.try(:admin?) %>
        <!--Comienza barra para aceptar-->
        <div class="col-md-12" style="text-align: center;margin: auto;">
          <% if @deal.status == 2 %>
            <p> Estatus: Rechazada</p>
          <% end %>
          <ul class="menu-aceptar">
            <% if @deal.status != 1 %>
            <a href="#aceptar" id="accept" class='deal-action'><li class="btn-aceptar"><span class="glyphicon glyphicon-ok"></span> Publicar</li></a>
            <% end %>
            <a href="/descuentos/<%= @deal.id %>/edit"><li class="btn-editar"><span class="glyphicon glyphicon-pencil"></span> Editar</li></a>
            <% if @deal.status != 2 %>
            <a href="#rechazar" data-toggle="modal"><li class="btn-rechazar"><span class="glyphicon glyphicon-remove"></span> Rechazar</li></a>
            <% end %>
            <a href="#eliminar" data-toggle="modal"><li class="btn-rechazar"><span class="glyphicon glyphicon-trash"></span> Eliminar</li></a>
            <%= render 'deals/modal' %>
          </ul>
        </div>
        <!--Termina barra para aceptar-->
        <% end %>
        <div class="col-md-7">
            <div class="category">
              <a href="/descuentos-por-categoria/<%= @deal.category.id %>/<%= @deal.category.slug %>"><%= @deal.category.name %></a>
            </div>
            <div class="usuario">
              <% if @deal.user_id.present? %>
              <span class="hidden-xs publicado">Publicado por:</span>
                <span class="visible-xs publicado">Por: </span>
                <a href="/perfil-publico/<%=@deal.user_id%>"><%= @deal.user.nickname %></a>
              <% else %>
              <span class="hidden-xs publicado">Publicado por:</span>
                <span class="visible-xs publicado">Por: </span>
              <a href=""> Invitado </a>
              <% end %>
            </div>
            <div class="fecha">
            <!--%= (Datetime.today - deal.created_at.to_datetime).to_i %-->
            <% 
              t1 = Time.now
              t2 = @deal.created_at
              f1 = Date.today
              f2 = @deal.created_at.to_date
              d1 = f1.day
              d2 = f2.day
            %>
            <% if f1 == f2 %>
              Hace <%= distance_of_time_in_words(t2, t1) %>
              <% else %>
              Hace <%= distance_of_time_in_words(f2, f1) %>
            <% end %>
            </div>
            <p class="comments"><a href="#box-comm"><%= @deal.comments.count %> <%= fa_icon 'comment' %></a></p>
        </div>
        <div class="col-md-5 rank-det">
            <div class="thumbs thumbs-oferta" id="<%= @deal.id %>">
                <span class="thumbs-quality">
                  <% if user_signed_in? %> 
                    <% if @deal.behaviors.exists? user_id: current_user.id  %>
                     <% @deal.behaviors.where("user_id = "+current_user.id.to_s).each do |item| %>
                        <% if item.grade == 1 %>
                          <span class="up" vote="positive" style="border-left: none; padding: 0px 0px 0px 0px;"><span><%= fa_icon "thumbs-up" %></span></span>
                        <% else %>
                          <span class="down" vote="negative"><span><%= fa_icon "thumbs-down" %></span></span>
                        <% end %>
                      <% end %>
                    <% else %>
                          <span vote="negative" class="down" onclick="rankUpdate(<%= @deal.id %>, 'negative');" promoid="<%= @deal.id %>"><%= fa_icon "thumbs-down" %></span>
                          <span href="#" vote="positive" class="up" onclick="rankUpdate(<%= @deal.id %>, 'positive');" promoid="<%= @deal.id %>"><%= fa_icon "thumbs-up" %></span>
                    <% end %>
                  <% else %>
                          <a href="#login" class="down" data-toggle="modal"><%= fa_icon "thumbs-down" %></a>
                          <a href="#login" class="up" data-toggle="modal"><%= fa_icon "thumbs-up" %></a>
                  <% end %>
                </span>
                <span class="<%= rank_style(@deal.rank) %> grades">
                  <%= fa_icon "thermometer-empty" %>
                  <span class="rank-meter"><%= @deal.rank %></span>
                  <span class="grados-sign">&#186;</span>
                </span>
            </div>
        </div>
      </div>
      <!--CATEGORÍA, USUARIO, COMENTARIOS Y RANKING-->
      <!--IMAGEN, TÍTULO, PRECIO Y BOTÓN-->
      <div class="row deal-title">
        <div class="col-md-4 img-tit">
          <% if @deal.imagen.present? %>
            <%= image_tag @deal.imagen, class: 'img-responsive main-image',  "data-toggle" => "modal", "data-target"=>"#ModalImage" %>
          <% else %>
            <% if @deal.promoimage.exists? %>
            <%= image_tag @deal.promoimage.url(:big), class: 'img-responsive main-image',  "data-toggle" => "modal", "data-target"=>"#ModalImage"  %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="store">
            <a href="/descuentos-por-tienda/<%= @deal.store.id %>/<%= @deal.store.slug %>"><%= @deal.store.name %></a>
            <span class="fis-web">
              <% if @deal.type_deal == 1 %> 
                Online 
              <% else %> 
                Tienda 
              <%end%>
            </span>
          </div>
          <h1 style="margin: 5px 0px 10px 0px;"><%= title @deal.title %></h1>
          
            <% if @deal.price.present? %>
          <div class="det-price">
            <%= number_to_currency(@deal.price) %>
          </div>
          <% end %>
          <div class="det-btn">
          <% if @deal.link.present? %>
            <a href="<%= @deal.link %>" class="btn btn-rojo" target="_blank">Ir a la promoción <span class="glyphicon glyphicon-share-alt"></span></a>
          <% end %>
          </div>
        </div>
      </div>

        <div class="modal fade" id="ModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $('.main-image').click(function(event) {
            $('#ModalImage .modal-body').html('');
            var src = $(this).attr('src');
            if (src.includes("keepa")){
            $('#ModalImage .modal-body').append('<p style="text-align:center; font-weight:700; margin:10px;">Aquí podrás ver el comportamiento en cuanto a precio de este producto durante este tiempo.</p>');
            }
            $('#ModalImage .modal-body').append('<img src="'+src+'" class="img-responsive">');
          });
        </script>
      <!--IMAGEN, TÍTULO, PRECIO Y BOTÓN-->
      <!--DESCRIPCIÓN DE LA PROMOCIÓN-->
      <div class="row det-descripcion">
          <div class="col-md-12">
            <%= @deal.description.html_safe %>
          </div>
      </div>
      <!--DESCRIPCIÓN DE LA PROMOCIÓN-->
      <!--BARRA PARA COMPARTIR O REPORTAR-->
      <div class="row det-social">
        <div class="col-md-12">
          <ul class="social-list">
            <li>
              <div class="dropdown">
                <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-share-alt" aria-hidden="true"></i> Compartir
                </a>
                <ul class="dropdown-menu lista-compartir" aria-labelledby="dLabel">
                  <li><a href="whatsapp://send?text=<%=  @current_url+"/descuentos/"+@deal.id.to_s+"-"+@deal.slug %>" data-action="share/whatsapp/share"><i class="visible-xs fa fa-whatsapp" aria-hidden="true"></i></a></li>
                  <li><a href="<%= "https://www.facebook.com/sharer/sharer.php?u="+@current_url+"/descuentos/"+@deal.id.to_s+"-"+@deal.slug %>" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  <li><a href="https://twitter.com/share"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
            <% if user_signed_in? %>
              <% if @deal.favorites.count == 0 %>
                <li><a href="#" class="addtofavorites" dealid="<%= @deal.id %>"><i class="fa fa-star" aria-hidden="true"></i> Agregar a Favoritas </a></li>
              <% else %>
                <% @deal.favorites.each do |favorites| %>
                  <li><a href="#" class="removefromfavorites" dealid="<%= favorites.id %>"><i class="fa fa-star" aria-hidden="true"></i> Eliminar de Favoritas </a></li>
                <% end %>
              <% end %>
            <% else %>
            <li><a href="#login" class="down" data-toggle="modal"><i class="fa fa-star" aria-hidden="true"></i> Agregar a Favoritas </a></li>
            <% end %>
            <% if @deal.price.present? %>
            <% if @deal.mpn.present? %>
            <li class="btn-ver-mobile">
              <a href="#ModalImage" data-toggle="modal" data-target="#ModalImage" class="main-image btn-rojo-out" src="https://dyn.keepa.com/pricehistory.png?asin=<%= @deal.mpn %>&domain=com.mx"><i class="fa fa-area-chart" aria-hidden="true" style="float: none;"></i> Ver comportamiento</a>
            </li>
            <% end %>
            <% end %>
          </ul>
          
        </div>
      </div>
      <!--BARRA PARA COMPARTIR O REPORTAR-->
      <!--COMENTARIOS-->
      <div class="row det-comentarios" id="box-comm">
        <div class="col-md-12">
          <h3><%= @deal.comments.where('status = 1').count %> Comentarios</h3>
            <% if @deal.comments.exists? %>
                <% @deal.comments.where('status = 1').each do |item| %>
                <div id="comment-<%= item.id %>">
                  <% 
                    t1 = Time.now
                    t2 = item.created_at
                    f1 = Date.today
                    f2 = item.created_at.to_date
                    d1 = f1.day
                    d2 = f2.day
                  %>
                  <a class="usuario" style="float: none;" href="/perfil-publico/<%=@deal.user_id%>">
                    <strong><%= item.user.nickname %></strong>
                  </a>
                  <% if f1 == f2 %>
                    <span class="fecha" style="float: none;">Hace <%= distance_of_time_in_words(t2, t1) %></span>
                    <% else %>
                    <span class="fecha" style="float: none;">Hace <%= distance_of_time_in_words(f2, f1) %></span>
                  <% end %>
                  <span class="comment-comment"><%= item.description.html_safe %></span>
                  <div class="acciones">
                    <span class="comment-likes">
                    <strong class="likes-number"><%= item.likes.count %> </strong><%= likeExists(item.id) %></span>
                    <div class="actions">
                      <div class="comment-likes reply" commentid="<%= item.id %>" de="<%= item.user.nickname %>" ><i class="fa fa-comments" aria-hidden="true"></i> Responder</div>
                      
                    </div>
                    
                  </div>
                </div>
                  <br>
                  <% if item.parent.present? %>
                      <%= getParent(item.parent)%>
                    <% end %>
                <% end %>
            <% end %>
        </div>
      </div>     
      <div class="row comments-box">
        <div class="col-md-12">
            <% if user_signed_in? %>  
          <h4>Publica un comentario</h4>   
              <div class="reply-answer"></div>
              <input type="hidden" id="parentid">
              <input id="commentContent" placeholder="Escribe un comentario" type="hidden" name="content" >
              <trix-editor input="commentContent"></trix-editor>
              <button class="btn-negro" style="margin-left: 0px;" id="save_comment" promoid="<%= @deal.id %>">Publicar comentario</button>
            <% else %>
              <button href="#login" class="btn-negro" data-toggle="modal">Publicar Comentario</button>       
            <% end %>
          </div>
      </div>
      <!--COMENTARIOS-->
    </div>
    <div class="col-md-3 banners">
      <%= render 'banners/right_column.html.erb' %>
    </div>
  </div>
</div>



<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.deal-action').click(function(event) {
     id = $(this).attr('id');
     iddeal = <%= @deal.id %>
     notify = $('#notifyvalue').val();
      $.ajax({
        url:  "/dealaction",
        dataType: "json",
        data: {
           id: id,
           iddeal:iddeal,
           notify:notify
        },
        success: function(data) { 
          window.location.reload();
        }
      });
    });
    $('.addtofavorites').click(function(event) {
        var dealid = $(this).attr('dealid');

        $.ajax({
          url:  "/addtofavorites",
          dataType: "json",
          data: {
             dealid: dealid
          },
          success: function(data) { 
          }
        });
    });
    $('.removefromfavorites').click(function(event) {
        var dealid = $(this).attr('dealid');
        $.ajax({
          url:  "/removefromfavorites",
          dataType: "json",
          data: {
             dealid: dealid
          },
          success: function(data) { 
          }
        });
    });
    $('.reply').click(function(event) {
     $('.reply-answer').text('Respondiendo comentario de '+($(this).attr('de')));
     $('#parentid').val($(this).attr('commentid'));
    });
    $('.like').click(function(event) {
      commentid = $(this).attr('commentid');
      if($(this).hasClass('liked')){
      like =$(this).attr('likeid');
        $.ajax({
          url:  "/removeComment",
          dataType: "json",
          data: {
             like: like
          },
          success: function(data) { 
            var num = $('#comment-'+commentid).find('.likes-number').text();
            num = parseInt(num) - 1
            $('#comment-'+commentid).find('.likes-number').text(num);
            $('#comment-'+commentid).find('.like').text('Me gusta');
            $('#comment-'+commentid).find('.like').removeClass('liked');
            $('#comment-'+commentid).find('.like').removeAttr('likedid');
          }
        });
      }else{
        $.ajax({
          url:  "/likeComment",
          dataType: "json",
          data: {
             commentid: commentid
          },
          success: function(data) { 
            var num = $('#comment-'+commentid).find('.likes-number').text();
            num = parseInt(num) + 1
            $('#comment-'+commentid).find('.likes-number').text(num);
            $('#comment-'+commentid).find('.like').text('Ya no me gusta');
            $('#comment-'+commentid).find('.like').addClass('liked');
            $('#comment-'+commentid).find('.like').attr('likeid',data.id );
          }
        });
      }
    });
    $('#save_comment').click(function(event) {
      description = $('#commentContent').val();
      promoid = $(this).attr('promoid');
      parent = $('#parentid').val();
      $.ajax({
        url:  "/saveComment",
        dataType: "json",
        data: {
           promoid: promoid,
           description: description,
           parent: parent
        },
        success: function(data) { 
          $('.comments-box').replaceWith('<h4>Gracias, tu comentario esta en validación</h4>');
        }
      });
    });
    $('.rank').click(function(event) {
      thumb = $(this);   
      promoid = $(this).attr('promoid');
      number = $(this).attr('vote');
      $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: promoid,
           number: number
        },
        success: function(data) { 
          thumb.parent().parent().find('.rank-meter').text(data.rank);
          thumb.parent().parent().find('.grades').append('<span class="down"><span><%= fa_icon "thumbs-down" %></span></span><span class="up"><span><%= fa_icon "thumbs-up" %></span></span>');
          thumb.parent().parent().find('.thumbs-quality').remove();
          
        }
      });
    });

  });
  
    function rankUpdate(thumb, number){
       $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: thumb,
           number: number
        },
        success: function(data) { 
          $('#'+thumb).parent().parent().find('.rank-meter').text(data.rank);
          $('#'+thumb).parent().parent().find('.grades').append('<span class="down"><span><%= fa_icon "thumbs-down" %></span></span><span class="up"><span><%= fa_icon "thumbs-up" %></span></span>');
          $('#'+thumb).parent().parent().find('.thumbs-quality').remove();
          
        }
      });    
    }
</script>
