<style type="text/css">
  .button_row .history_tools{
    display: none;
  }
</style>
<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <!--CATEGORÍA, USUARIO, COMENTARIOS Y RANKING-->
      <div class="row">
        <% if current_user.try(:admin?) %>
        <!--Comienza barra para aceptar-->
        <div class="col-md-12" style="text-align: center;margin: auto;">
          <% if @deal.status == 2 %>
            <p> Estatus: Rechazada</p>
          <% end %>
          <ul class="menu-aceptar">
            <% if @deal.status != 1 %>
            <a href="#aceptar" id="accept" class='deal-action'><li class="btn-aceptar"><span class="glyphicon glyphicon-ok"></span> Publicar</li></a>
            <a href="/descuentos/<%= @deal.id %>/edit"><li class="btn-editar"><span class="glyphicon glyphicon-pencil"></span> Editar</li></a>
            <% end %>
            <% if @deal.status != 2 %>
            <a href="#rechazar" data-toggle="modal"><li class="btn-rechazar"><span class="glyphicon glyphicon-remove"></span> Rechazar</li></a>
            <% end %>
            <a href="#eliminar" data-toggle="modal"><li class="btn-rechazar"><span class="glyphicon glyphicon-trash"></span> Eliminar</li></a>
            <%= render 'deals/modal' %>
          </ul>
        </div>
        <!--Termina barra para aceptar-->
        <% end %>
        <div class="col-md-7">
            <div class="category">
              <a href="/descuentos-por-categoria/<%= @deal.category.id %>/<%= @deal.category.slug %>"><%= @deal.category.description %></a>
            </div>
            <div class="usuario">
              <% if @deal.user_id.present? %>
              <span class="hidden-xs publicado">Publicado por:</span>
                <span class="visible-xs publicado">Por: </span>
                <a href="/perfil-publico/<%=@deal.user_id%>"><%= @deal.user.nickname %></a>
              <% else %>
              <span class="hidden-xs publicado">Publicado por:</span>
                <span class="visible-xs publicado">Por: </span>
              <a href=""> Invitado </a>
              <% end %>
            </div>
            <div class="fecha">
            <!--%= (Datetime.today - deal.created_at.to_datetime).to_i %-->
            <% 
              t1 = Time.now
              t2 = @deal.created_at
              f1 = Date.today
              f2 = @deal.created_at.to_date
              d1 = f1.day
              d2 = f2.day
            %>
            <% if f1 == f2 %>
              Hace <%= distance_of_time_in_words(t2, t1) %>
              <% else %>
              Hace <%= distance_of_time_in_words(f2, f1) %>
            <% end %>
            </div>
            <p class="comments"><a href="#box-comm"><%= @deal.comments.count %> <%= fa_icon 'comment' %></a></p>
        </div>
        <div class="col-md-5 rank-det">
          <span class="thumbs-quality">
            <% if user_signed_in? %> 
              <% if @deal.behaviors.exists? user_id: current_user.id  %>
                <% @deal.behaviors.each do |item| %>
                  <% if item.grade == 1 %>
                    <span class="up" vote="positive"><span><%= fa_icon "thumbs-up" %></span></span>
                  <% else %>
                    <span class="down" vote="negative"><span><%= fa_icon "thumbs-down" %></span></span>
                  <% end %>
                <% end %>
              <% else %>
                    <span vote="negative" class="rank down" promoid="<%= @deal.id %>"><%= fa_icon "thumbs-down" %></span>
                    <span href="#" vote="positive" class="rank up" promoid="<%= @deal.id %>"><%= fa_icon "thumbs-up" %></span>
              <% end %>
            <% else %>
                    <a href="#login" class="down" data-toggle="modal"><%= fa_icon "thumbs-down" %></a>
                    <a href="#login" class="up" data-toggle="modal"><%= fa_icon "thumbs-up" %></a>
            <% end %>
          </span>
           <span class="<%= rank_style(@deal.rank) %> grades">
            <%= fa_icon "thermometer-empty" %>
            <span class="rank-meter"><%= @deal.rank %></span>
            <span class="grados-sign">&#186;</span>
          </span>
        </div>
      </div>
      <!--CATEGORÍA, USUARIO, COMENTARIOS Y RANKING-->
      <!--IMAGEN, TÍTULO, PRECIO Y BOTÓN-->
      <div class="row deal-title">
        <div class="col-md-4 img-tit">
          <% if @deal.imagen.present? %>
            <%= image_tag @deal.imagen, class: 'img-responsive' %>
          <% else %>
            <%= image_tag @deal.promoimage.url(:big), class: 'img-responsive' %>
          <% end %>
        </div>
        <div class="col-md-8">
          <h1><%= @deal.title %></h1>
          <div class="det-price">
            <%= number_to_currency(@deal.price) %>
          </div>
          <div class="det-btn">
          <% if @deal.link.present? %>
            <a href="<%= @deal.link %>" class="btn btn-rojo" target="_blank">Ir a la promoción <span class="glyphicon glyphicon-share-alt"></span></a>
          <% end %>
          </div>
        </div>
      </div>
      <!--IMAGEN, TÍTULO, PRECIO Y BOTÓN-->
      <!--DESCRIPCIÓN DE LA PROMOCIÓN-->
      <div class="row det-descripcion">
        <div class="col-md-12">
          <%= @deal.description.html_safe %>
        </div>
      </div>
      <!--DESCRIPCIÓN DE LA PROMOCIÓN-->
      <!--BARRA PARA COMPARTIR O REPORTAR-->
      <div class="row det-social">
        <div class="col-md-12">
          <ul class="social-list">
            <li>
              <div class="dropdown">
                <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-share-alt" aria-hidden="true"></i> Compartir
                </a>
                <ul class="dropdown-menu lista-compartir" aria-labelledby="dLabel">
                  <li><a href=""><i class="visible-xs fa fa-whatsapp" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
            <% if user_signed_in? %>
              <% if @deal.favorites.count == 0 %>
                <li><a href="#" class="addtofavorites" dealid="<%= @deal.id %>"><i class="fa fa-star" aria-hidden="true"></i> Agregar a Favoritas </a></li>
              <% else %>
                <% @deal.favorites.each do |favorites| %>
                  <li><a href="#" class="removefromfavorites" dealid="<%= favorites.id %>"><i class="fa fa-star" aria-hidden="true"></i> Eliminar de Favoritas </a></li>
                <% end %>
              <% end %>
            <% else %>
            <li><a href="#login" class="down" data-toggle="modal"><i class="fa fa-star" aria-hidden="true"></i> Agregar a Favoritas </a></li>
            <% end %>
            <!--li>
              <div class="dropdown">
                <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-volume-up" aria-hidden="true"></i> Reportar <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
              </div>
            </li-->
          </ul>
          
        </div>
      </div>
      <!--BARRA PARA COMPARTIR O REPORTAR-->
      <!--COMENTARIOS-->
      <div class="row det-comentarios" id="box-comm">
        <div class="col-md-12">
          <h4><%= @deal.comments.count %> Comentarios</h4>
            <% if @deal.comments.exists? %>
                <% @deal.comments.each do |item| %>
                <div id="comment-<%= item.id %>">
                  <% 
                    t1 = Time.now
                    t2 = item.created_at
                    f1 = Date.today
                    f2 = item.created_at.to_date
                    d1 = f1.day
                    d2 = f2.day
                  %>
                  <% if f1 == f2 %>
                    Hace <%= distance_of_time_in_words(t2, t1) %>
                    <% else %>
                    Hace <%= distance_of_time_in_words(f2, f1) %>
                  <% end %>
                  <%= item.user.nickname %><br>
                  <%= item.description.html_safe %><br>
                  Likes (<%= item.likes.count %>)<br>
                  <% if item.parent.present? %>
                     <%= getParent(item.parent) %>
                  <% end %>
                  <div class="actions">
                    <div class="reply" commentid="<%= item.id %>" de="<%= item.user.nickname %>" >Reply</div>
                    <%= likeExists(item.id) %>
                  </div>
                  <br>
                </div>
                <% end %>
            <% end %>
        </div>
      </div>
      
      <div class="row comments-box">
        <h4>Publica un comentario</h4>
          <div class="reply-answer"></div>
          <input type="hidden" id="parentid">
          <input id="commentContent" value="Editor content goes here" type="hidden" name="content">
          <trix-editor input="commentContent"></trix-editor>
          <button class="btn btn-primary" id="save_comment" promoid="<%= @deal.id %>">Publicar comentario</button>
      </div>

      <!--COMENTARIOS-->
    </div>
    <div class="col-md-3 banners">
      <%= render 'deals/banners' %>
    </div>
  </div>
</div>



<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.deal-action').click(function(event) {
     id = $(this).attr('id');
     iddeal = <%= @deal.id %>
      $.ajax({
        url:  "/dealaction",
        dataType: "json",
        data: {
           id: id,
           iddeal:iddeal
        },
        success: function(data) { 
          window.location.reload();
        }
      });
    });
    $('.addtofavorites').click(function(event) {
        var dealid = $(this).attr('dealid');

        $.ajax({
          url:  "/addtofavorites",
          dataType: "json",
          data: {
             dealid: dealid
          },
          success: function(data) { 
          }
        });
    });
    $('.removefromfavorites').click(function(event) {
        var dealid = $(this).attr('dealid');
        $.ajax({
          url:  "/removefromfavorites",
          dataType: "json",
          data: {
             dealid: dealid
          },
          success: function(data) { 
          }
        });
    });
    $('.reply').click(function(event) {
     $('.reply-answer').text('Respondiendo comentario de '+($(this).attr('de')));
     $('#parentid').val($(this).attr('commentid'));
    });
    $('.like').click(function(event) {
      commentid = $(this).attr('commentid');
      if($(this).hasClass('liked')){
      like =$(this).attr('likeid');
        $.ajax({
          url:  "/removeComment",
          dataType: "json",
          data: {
             like: like
          },
          success: function(data) { 
            $('#comment-'+commentid).find('.like').text('Ya le quitaste Like');
            $('#comment-'+commentid).find('.like').removeClass('liked');
            $('#comment-'+commentid).find('.like').removeAttr('likedid');
          }
        });
      }else{
        $.ajax({
          url:  "/likeComment",
          dataType: "json",
          data: {
             commentid: commentid
          },
          success: function(data) { 
            $('#comment-'+commentid).find('.like').text('Ya le pusiste Like');
            $('#comment-'+commentid).find('.like').addClass('liked');
            $('#comment-'+commentid).find('.like').attr('likeid',data.id );
          }
        });
      }
    });
    $('#save_comment').click(function(event) {
      description = $('#commentContent').val();
      promoid = $(this).attr('promoid');
      parent = $('#parentid').val();
      $.ajax({
        url:  "/saveComment",
        dataType: "json",
        data: {
           promoid: promoid,
           description: description,
           parent: parent
        },
        success: function(data) { 
          $('.comments-box').replaceWith('<h4>Tú comentario está en validación</h4>');
        }
      });
    });
    $('.rank').click(function(event) {   
      promoid = $(this).attr('promoid');
      number = $(this).attr('id');
      $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: promoid,
           number: number
        },
        success: function(data) { 
          console.log(data);
        }
      });
    });
  });
</script>
