<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :content,  'HTML CONTENT at the Beginning  ' %>
    <%= f.trix_editor :content, size: "24x6" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Guardar Categoría', :class => 'btn-rojo' %>
  </div>
<% end %>
