<p id="notice"><%= notice %></p>
<div class="row deal-detail">
  <h1 style="padding: 0px 15px;margin-top: 0px;">Categorías</h1>
  <div class="container">
      <div class="col-lg-12 deal-det">
        <table class="table table-striped">
          <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Descripción</td>
            <td></td>
          </tr>
          <% @categories.each do |category| %>
          <tr>
            <td class="tabla-cat"><strong><%= category.id %> <%= category.name %></strong><br><span class="descripcion-tabla"><%= category.description %></span></td>
            <td class="tabla-edit"><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Estás seguro de eliminar esta Categoría?' } %></td>
            <td class="tabla-edit"><span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editar', edit_category_path(category) %></td>
            <td class="tabla-edit"><span class="glyphicon glyphicon-eye-open"></span> <%= link_to 'Ver', category %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan="4">
              <%= link_to 'Agregar Categoría', new_category_path, class:"btn-rojo" %>
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>
