<div class="row deal-detail">
	<h1 style="padding: 0px 15px;margin-top: 0px;">Categorías</h1>
	<div class="container">
	    <div class="col-lg-9 deal-det">
	    	<div class="list-group">
			  <% @categories.each do |category| %>
				  <a href="/descuentos-por-categoria/<%= category.id %>/<%= category.slug %>" class="list-group-item">
				    <!--p class="list-group-item-heading"><%= category.name %></p-->
				    <h4 class="list-group-item-text"><%= category.description %> <span class="badge"><%= category.deals.count %></span></h4>
				  </a>
			    <% end %>
			</div>
	    </div>
	    <div class="col-lg-3 banners">
		    <%= render 'banners/right_column.html.erb' %>
		</div>
	</div>
</div>
