<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Promodescuentos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        </div>
  </div>
</div>
  <nav class="navbar navbar-blue">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Descuentosy<span class="bold">Promociones.mx</span> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-right">
          <div class="input-group stylish-input-group">
              <input type="text" class="form-control"  placeholder="Buscar ..." >
              <span class="input-group-addon">
                  <button type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>  
              </span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><a href="/myprofile/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span> Mi Cuenta </a></li>
          <% else %>
          <li><%= link_to "Iniciar sesión", "#login", "data-toggle" => "modal"%></li>    
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <nav class="navbar navbar-white">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Nuevas</a></li>
        <li><a href="#">Promociones Hot</a></li>
        <li><a href="#">Categorias y Tiendas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin?) %>
          <li><a href="/moderate">Moderar </a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "Compartir", new_deal_path, class: 'btn btn-default' %></li>
          <!--<li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>        </li>-->
        <% else %>
          <li><a href="#">Compartir </a></li>
          <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
          <li><%= link_to "Login", "#login", "data-toggle" => "modal" %></li>
          <li><%= link_to "Sign up", "#sign_up", "data-toggle" => "modal"%></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  </nav>
   	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
    
    <br><br>
    <footer class="footer white">
      <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
      <p>Siguenos en Facebook \|/ Siguenos en Twitter</p>
      <h3> Descuentos y Promociones </h3>
      &copy; 2017 - Descuentos y Promociones 
    </footer>
    <%= render "welcome/login_modal" %>
    <%= render "welcome/sign_up_modal" %>
    <style type="text/css">
.stylish-input-group .input-group-addon{
    background: transparent; 
    padding: 5px;
}
.stylish-input-group input {
  color: white;
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  background: transparent;
}
.stylish-input-group button{
    border:0;
    color: white;
    background:transparent;
}
    </style>
  </body>
</html>
