<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Descuentos y Promociones MX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-blue">
    <div class="container no-padding-head">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="glyphicon glyphicon-search"></span>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button-->
        <!-- Menu Mobile -->

        <div class="menu-mobile visible-xs">
          <%= link_to "Compartir", new_descuento_path, class: 'btn btn-compartir-s btn-compartir btn-default' %>
          <button type="button" class="buscar-s collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <% if user_signed_in? %>
          <a class="mi-cuenta-s" href="/myprofile/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></a>
          <a class="mi-cuenta-s"><%= link_to "Salir", destroy_user_session_path, :method => :delete %><span class="glyphicon glyphicon-user"></span></a>
          <% else %>
          <a class="mi-cuenta-s" href="/myprofile/">
          <%= link_to "", "#login", "data-toggle" => "modal", class: "glyphicon glyphicon-user"%>
          <% end %>
        </div>
        <a class="navbar-brand logotipo" href="/"><img src="/images/logo.png" /></a>
        <a class="navbar-brand logotipo-s" href="/"><img src="/images/logo-s.png" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-right">
          <div class="input-group stylish-input-group">
              <input type="text" class="form-control"  placeholder="Buscar ..." >
              <span class="input-group-addon">
                  <button type="submit" class="btn-lupa">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>  
              </span>
          </div>
        </form>
        <!--MI CUENTA MENU LOGUEADO-->
        <ul class="nav navbar-nav navbar-right visible-lg">
            <% if user_signed_in? %>
            <li>
              <a class="mi-cuenta" href="/myprofile/<%= current_user.id %>">
                <span class="glyphicon glyphicon-user"></span> Mi Cuenta
              </a>
            </li>
            <li>
              <a class="mi-cuenta" href="">
                <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
              </a>
            </li>
            <% else %>
            <li class="mi-cuenta-log">
              <span class="glyphicon glyphicon-user"></span> <%= link_to "Mi Cuenta", "#login", "data-toggle" => "modal"%>
            </li>    
            <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <nav class="navbar navbar-white">
    <div class="container no-padding-head">
      <ul class="nav navbar-nav">
          <li class=" active"><a href="#">Nuevas</a></li>
          <li class="visible-lg promotop"><a href="#">Promociones Top</a></li>
          <li class="visible-xs"><a href="#">TOP</a></li>
          <li class="dropdown visible-lg"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >Categorías y Tiendas <span class="flecha-down glyphicon glyphicon-chevron-down"></a>
            <!-- INICIA SUBMENU DESKTOP -->
            <div class="row dropdown-menu">
              <div class="container drow no-padding">
                <div class="col-md-6 no-padding">
                  <h2>Promociones por Categoría</h2>
                  <div class="col-md-6 no-padding">
                    <ul class="submenu-cat">
                      <li><a href="#">Abarrotes y Alimentos</a></li>
                      <li><a href="#">Autos</a></li>
                      <li><a href="#">Bebés y Niños</a></li>
                      <li><a href="#">Celulares</a></li>
                      <li><a href="#">Computadoras</a></li>
                      <li><a href="#">Restaurantes</a></li>
                      <li><a href="#">Deportes y Ejercicios</a></li>
                      <li><a href="#">Entretenimiento</a></li>
                      <li><a href="#">Hogar y Jardín</a></li>
                      <li><a href="#">Ropa y Accesorios</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 no-padding">
                    <ul class="submenu-cat">
                      <li><a href="#">Salud y Belleza</a></li>
                      <li><a href="#">Servicios</a></li>
                      <li><a href="#">Tecnología</a></li>
                      <li><a href="#">Televisiones</a></li>
                      <li><a href="#">Viajes</a></li>
                      <li><a href="#">Videojuegos</a></li>
                      <li><a href="#">Varios</a></li>
                      <li><a href="#">Ofertas Online</a></li>
                      <li><a href="#">Ofertas en Tienda Física</a></li>
                      <li><a href="#">Ofertas Permanentes</a></li>
                    </ul>
                  </div>
                  <div class="col-md-12 no-padding ver-mas-link"><a href="#">Ver todas las Categorías <span class="glyphicon glyphicon-menu-right"></span></a></div>
                </div>
                <%= render "layouts/tiendas_menu" %><!-- Carga las tiendas para desktop -->
              </div>
            </div>
            <!-- TERMINA SUBMENU DESKTOP -->
          </li>
          <li class="visible-xs"><a class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu-s">Categorías <span class="flecha-down glyphicon glyphicon-chevron-down"></a></li>
          <li class="visible-xs filtro"><a href="#"><span class="glyphicon glyphicon-filter"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if current_user.try(:admin?) %>
            <li class="visible-lg"><a href="/moderate">Moderar </a></li>
          <% end %>
          <% if user_signed_in? %>
            <li class="visible-lg">
              <a href="#" class="filtrar">Filtrar Promociones <span class="flecha-down glyphicon glyphicon-chevron-down"></span></a>
            </li>
            <li class="visible-lg"><%= link_to "+ Compartir", new_descuento_path, class: 'btn btn-compartir btn-default' %></li>
            <!--<li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>        </li>-->
          <% else %>
            <li class="dropdown visible-lg">
              <a href="#" class="filtrar dropdown-toggle" data-toggle="dropdown">Filtrar Promociones <span class="flecha-down glyphicon glyphicon-chevron-down"></span></a>
              <!-- INICIA SUBMENU DESKTOP -->
              <div class="row dropdown-menu">
                <div class="container drow no-padding">
                  <%= render "layouts/sub_filtros" %><!-- Carga el submenu de filtros -->
                </div>
              </div>
              <!-- TERMINA SUBMENU DESKTOP -->
            </li>
            <li>
              <%= link_to "+ Compartir", "#login", "data-toggle" => "modal", class: 'visible-lg btn btn-compartir-s btn-compartir btn-default' %>
            </li>
            <!--li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
            <li><%= link_to "Login", "#login", "data-toggle" => "modal" %></li>
            <li><%= link_to "Sign up", "#sign_up", "data-toggle" => "modal"%></li-->
          <% end %>
      </ul>
      
    </div><!-- /.container -->

    <!-- INICIA SUBMENU MOBILE -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-menu-s">
      <ul class="visible-xs submenu">
        <li><a>Abarrotes y Alimentos</a></li>
        <li><a>Autos</a></li>
        <li><a>Bebés y Niños</a></li>
        <li><a>Celulares</a></li>
        <li><a>Computadoras</a></li>
        <li><a>Restaurantes</a></li>
        <li><a>Deportes y Ejercicios</a></li>
        <li><a>Ver todas...</a></li>
        <%= render "layouts/tiendas_menu_m" %><!-- carga las tiendas para mobile -->
      </ul>
    </div>
    <!-- TERMINA SUBMENU MOBILE -->
  </nav>
    <% if notice.present? %>
   	<div class="notice"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
    <div class="alert"><%= alert %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    
    <br><br>
    <footer class="footer white">
      <%= render "layouts/menu_footer" %>
    </footer>
    <%= render "welcome/login_modal" %>
    <%= render "welcome/sign_up_modal" %>
    <script type="text/javascript">
      $(document).on('click', '.dropdown-menu', function (e) {
        e.stopPropagation();
      });
      </script>
  </body>
</html>
