<!DOCTYPE html>
<html>
  <head><!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLG9BGF');</script>
    <!-- End Google Tag Manager -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1927605467495785" />
    <%= display_meta_tags site: 'Descuentos y Promociones' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon2.ico" />
  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLG9BGF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar navbar-blue">
    <div class="container no-padding-head">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- Menu PRINCIPAL-->
          <div class="container no-padding">
            <div class="col-xs-4 no-padding">
              <a class="navbar-brand logotipo" href="/"><img src="/images/logo.png" alt="Descuentos y Promociones" title="Descuentos y Promociones" /></a>
              <a class="navbar-brand logotipo-s" href="/"><img src="/images/logo-s.png" alt="Descuentos y Promociones" title="Descuentos y Promociones" /></a>
            </div>
            <div class="col-xs-8 menu-mobile">
                <%= link_to "+ Compartir", "/descuentos/new", "data-toggle" => "modal", class: 'hidden-xs btn btn-compartir btn-default' %>
                <%= link_to "Compartir", "/descuentos/new", "data-toggle" => "modal", class: 'visible-xs btn btn-compartir-s btn-compartir btn-default' %>
              <div class="menu-sign">
                <div class="mi-cuenta">
                  <% if user_signed_in? %>
                    <%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:'hidden-xs' %>
                    <a class="hidden-xs" style="margin-top: 1px;" href="/mi-cuenta/mis-descuentos/<%= current_user.id%>"><span class="glyphicon glyphicon-user"></span> Mi Cuenta</a>
                    <a class="visible-xs" style="margin-top: 1px;" href="/mi-cuenta/mis-descuentos/<%= current_user.id%>"><span class="glyphicon glyphicon-user"></span></a>
                  <% else %>
                    <div class="hidden-xs">
                      <span class="glyphicon glyphicon-user"></span> <%= link_to "Mi Cuenta", "#login", "data-toggle" => "modal", class: 'login-account'%>
                    </div>
                    <%= link_to "", "#login", "data-toggle" => "modal", class: 'visible-xs glyphicon glyphicon-user login-account'%>
                  <% end %>
                </div>
                <button type="button" class="visible-xs buscar-s collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </div>        
      </div>      
    </div><!-- /.container -->
  </nav>
  <nav class="navbar navbar-white">
    <div class="container no-padding-head">
      <ul class="nav navbar-nav">
          <li class=" active"><a href="/nuevas">Nuevas</a></li>
          <li class="hidden-xs promotop"><a href="/top">Promociones Top</a></li>
          <li class="visible-xs"><a href="/top">TOP</a></li>
          <li class="dropdown hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >Categorías y Tiendas <span class="flecha-down glyphicon glyphicon-chevron-down"></a>
            <!-- INICIA SUBMENU DESKTOP -->
            <div class="row dropdown-menu">
              <%= render "layouts/tiendas_menu" %><!-- Carga el submenu de Categorías y Tiendas -->
            </div>
            <!-- TERMINA SUBMENU DESKTOP -->
          </li>
          <li class="visible-xs"><a class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu-s">Categorías <span class="flecha-down glyphicon glyphicon-chevron-down"></a></li>
          <li class="visible-xs"><a class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu-filtros"><span class="glyphicon glyphicon-filter"></span> <span class="flecha-down glyphicon glyphicon-chevron-down"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if current_user.try(:admin?) %>
     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moderar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/moderate"><i class="fa fa-certificate" aria-hidden="true"></i> PROMOCIONES </a></li>
            <li><a href="/moderatecomments"><i class="fa fa-commenting" aria-hidden="true"></i> COMENTARIOS</a></li>
            <li><a href="/stores"><i class="fa fa-shopping-bag" aria-hidden="true"></i> TIENDAS</a></li>
            <li><a href="/categories"><i class="fa fa-filter" aria-hidden="true"></i> CATEGORÍAS</a></li>
            <li><a href="/banners"><i class="fa fa-picture-o" aria-hidden="true"></i> BANNERS</a></li>
            <li><a href="/settings"><i class="fa fa-gear" aria-hidden="true"></i> SETTINGS</a></li>
          </ul>
        </li>
          <% end %>
          <% if @deals.present? %>
            <li class="dropdown hidden-xs">
              <a href="#" class="filtrar dropdown-toggle" data-toggle="dropdown">Filtrar Promociones <span class="flecha-down glyphicon glyphicon-chevron-down visible-lg" style="float: right;margin-top: 8px;"></span></a>
              <!-- INICIA SUBMENU DESKTOP -->
              <div class="row dropdown-menu">
                <div class="container drow no-padding">
                  <%= render "layouts/sub_filtros" %><!-- Carga el submenu de filtros -->
                </div>
              </div>
              <!-- TERMINA SUBMENU DESKTOP -->
            </li>
          <% end %>
            <li>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-right" method="get" action="/buscar-descuentos" >
                  <div class="input-group stylish-input-group">
                      <input type="text" class="form-control" name="search"  placeholder="Buscar ..." >
                      <span class="input-group-addon">
                          <button type="submit" class="btn-lupa">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>  
                      </span>
                  </div>
                </form>
              </div><!-- /.navbar-collapse -->
            </li>
            <!--li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
            <li><%= link_to "Login", "#login", "data-toggle" => "modal" %></li>
            <li><%= link_to "Sign up", "#sign_up", "data-toggle" => "modal"%></li-->
      </ul>
    </div><!-- /.container -->
      <!-- INICIA FILTROS MOBILE -->
      <div class="collapse navbar-collapse-filtros" id="bs-example-navbar-collapse-menu-filtros">
        <%= render "layouts/filtros_m" %><!-- carga el contenido de filtros para mobile -->
      </div>
      <!-- TERMINA FILTROS MOBILE -->
      <!-- INICIA SUBMENU MOBILE -->
      <div class="collapse navbar-collapse-submenu" id="bs-example-navbar-collapse-menu-s">
        <%= render "layouts/tiendas_menu_m" %><!-- carga el submenu de Categorías y Tiendas para mobile -->
      </div>
      <!-- TERMINA SUBMENU MOBILE -->
    
  </nav>
    <div class="container">
      <% if notice.present? %>
      <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
      <div class="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= alert %></div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    
    <br><br>
    <footer class="footer white" style="margin-top: 50px;">
      <%= render "layouts/menu_footer" %>
    </footer>
    <!-- Login -->
    <div class="modal fade" tabindex="-1" role="dialog" id="login">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="login-modal">
        <%= render "welcome/login_modal" %>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
      $(document).on('click', '.dropdown-menu', function (e) {
        e.stopPropagation();
      });
      jQuery(document).ready(function($) {

        $('.login-account').click(function(event) {
          $("#login-modal").html("<%= j (render 'welcome/login_modal') %>");
          $('.create-account').click(function(event) {
            $("#login-modal").html("<%= j (render 'welcome/sign_up_modal') %>");
          });
        });
      });
      </script>
  </body>
</html>
