<div class="row deal-detail">
  <div class="col-md-4 deal-det-login col-md-offset-4">
    <div class="modal-header">
          <h4 class="titulo-modal">Crear Cuenta</h4>
    </div>
    <div class="modal-body-login">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <span class="alerta-cuenta"><%= devise_error_messages! %></span>

      <div class="field">
        <%= f.label :Correo_Electrónico %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :usuario %><br />
        <%= f.text_field :nickname %>
      </div>

      <div class="field password">
        <%= f.label :Contraseña %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :Confirmación_de_contraseña %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Crear Cuenta", class:"btn btn-login" %>
      </div>
    <% end %>
    </div>
  </div>
  </div>
</div>

<!--%= render "users/shared/links" %-->
